<!-- Wrapper-->
<div id="wrapper" class="top-navigation">

    <!-- Navigation -->
    <div ng-include="'Views/HeaderTemplate.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div class="white-bg {{$state.current.name}}">

        <!-- Main view  -->
        <div ui-view></div>

        <!-- Footer -->
        <div ng-include="'Views/FooterTemplate.html'"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->