
										<!-- <div class="col-lg-4"> 
											<div class="file_upload">
										  <img src="" id="tabImage{{tabJsonData.orderOfPlace+num}}" style="width: 100%;height: 99%;"/>
												<div class="custom-title text-center tabImage{{tabJsonData.orderOfPlace+$index}}">Choose a file{{tabJsonData.orderOfPlace+$index}}</div>
										  <input type="file" class='form-control inputfile' onchange="angular.element(this).scope().fileSecondSectionImageChanged(this,event)" id="{{tabJsonData.orderOfPlace+$index}}"/>
											</div> 
											<div class="form-group m-t-sm">
												<input class="form-control" placeholder="Image Title" ng-model="IndividualTabs.tabJsonData.orderOfPlace.imageAlt" />
											</div>
											<div class="form-group m-t-xs">
												<input class="form-control" placeholder="Image URL" ng-model="IndividualTabs.tabJsonData.orderOfPlace.imageLocation" />
											</div>
											<div class="form-group m-t-sm">
												<button class="btn btn-primary btn-block" ng-click="TabImageUpload(IndividualTabs.tabJsonData.orderOfPlace,tabJsonData.orderOfPlace+1,tabJsonData.blockName)">SUBMIT</button>
												<button class="btn btn-success btn-block" ng-click="ImageEditUpload(IndividualTabs.tabJsonData.orderOfPlace,tabJsonData.orderOfPlace+1,tabJsonData.blockName)">EDIT</button>
											</div>
										</div>
										<div class="col-lg-4"> 
											<div class="file_upload">
										  <img src="" id="image1" style="width: 100%;height: 99%;"/>
												<div class="custom-title text-center image1">Choose a file</div>
										  <input type="file" class='form-control inputfile' onchange="angular.element(this).scope().fileSecondSectionImageChanged(this,event)" id="{{tabJsonData.orderOfPlace}}"/>
											</div> 
											<div class="form-group m-t-sm">
												<input class="form-control" placeholder="Image Title" ng-model="IndividualTabs.tabsData3.imageAlt" />
											</div>
											<div class="form-group m-t-xs">
												<input class="form-control" placeholder="Image URL" ng-model="IndividualTabs.tabsData3.imageLocation" />
											</div>
											<div class="form-group m-t-sm">
												<button class="btn btn-primary btn-block" ng-click="TabImageUpload(IndividualTabs[tabJsonData.orderOfPlace].tabsData3,tabJsonData.orderOfPlace+2,tabJsonData.blockName)">SUBMIT</button>
												<button class="btn btn-success btn-block" ng-click="ImageEditUpload(IndividualTabs[tabJsonData.orderOfPlace].tabsData3,tabJsonData.orderOfPlace+2,tabJsonData.blockName)">EDIT</button>
											</div>
										</div> -->
									<!-- 	<div class="col-lg-4 m-t-md"> 
											<div class="file_upload">
										  <img src="" id="image1" style="width: 100%;height: 99%;"/>
												<div class="custom-title text-center image1">Choose a file</div>
										  <input type="file" class='form-control inputfile' onchange="angular.element(this).scope().fileSecondSectionImageChanged(this,event)" id="{{tabJsonData.orderOfPlace}}"/>
											</div> 
											<div class="form-group m-t-sm">
												<input class="form-control" placeholder="Image Title" ng-model="IndividualTabs.tabsData4.imageAlt" />
											</div>
											<div class="form-group m-t-xs">
												<input class="form-control" placeholder="Image URL" ng-model="IndividualTabs.tabsData4.imageLocation" />
											</div>
											<div class="form-group m-t-sm">
												<button class="btn btn-primary btn-block" ng-click="TabImageUpload(IndividualTabs[tabJsonData.orderOfPlace].tabsData4,tabJsonData.orderOfPlace+3,tabJsonData.blockName)">SUBMIT</button>
												<button class="btn btn-success btn-block" ng-click="ImageEditUpload(IndividualTabs[tabJsonData.orderOfPlace].tabsData4,tabJsonData.orderOfPlace+3,tabJsonData.blockName)">EDIT</button>
											</div>
										</div>
										<div class="col-lg-4 m-t-md"> 
											<div class="file_upload">
										  <img src="" id="image1" style="width: 100%;height: 99%;"/>
												<div class="custom-title text-center image1">Choose a file</div>
										  <input type="file" class='form-control inputfile' onchange="angular.element(this).scope().fileSecondSectionImageChanged(this,event)" id="{{tabJsonData.orderOfPlace}}"/>
											</div> 
											<div class="form-group m-t-sm">
												<input class="form-control" placeholder="Image Title" ng-model="IndividualTabs.tabsData5.imageAlt" />
											</div>
											<div class="form-group m-t-xs">
												<input class="form-control" placeholder="Image URL" ng-model="IndividualTabs.tabsData5.imageLocation" />
											</div>
											<div class="form-group m-t-sm">
												<button class="btn btn-primary btn-block" ng-click="ImageUpload(IndividualTabs.tabsData5,1)">SUBMIT</button>
												<button class="btn btn-success btn-block" ng-click="ImageEditUpload(IndividualTabs.tabsData5,1)">EDIT</button>
											</div>
										</div>
										<div class="col-lg-4 m-t-md"> 
											<div class="file_upload">
										  <img src="" id="image1" style="width: 100%;height: 99%;"/>
												<div class="custom-title text-center image1">Choose a file</div>
										  <input type="file" class='form-control inputfile' onchange="angular.element(this).scope().fileSecondSectionImageChanged(this,event)" id="{{tabJsonData.orderOfPlace}}"/>
											</div> 
											<div class="form-group m-t-sm">
												<input class="form-control" placeholder="Image Title" ng-model="IndividualTabs.tabsData6.imageAlt" />
											</div>
											<div class="form-group m-t-xs">
												<input class="form-control" placeholder="Image URL" ng-model="IndividualTabs.tabsData6.imageLocation" />
											</div>
											<div class="form-group m-t-sm">
												<button class="btn btn-primary btn-block" ng-click="ImageUpload(IndividualTabs.tabsData6,1)">SUBMIT</button>
												<button class="btn btn-success btn-block" ng-click="ImageEditUpload(IndividualTabs.tabsData6,1)">EDIT</button>
											</div>
										</div> -->