<div id="wrapper" class="top-navigation">
	<div ng-include="'Views/HeaderTemplate.html'"></div>
		<div class="{{$state.current.name}}">
		<!-- <div class="border-bottom m-t-sm"> -->
		<div class="border-bottom">
			<ol class="breadcrumb p-xs col-lg-12 gray-bg">
				<li>
					<a href="index.html"><i class="fa fa-home"></i> Home</a>
				</li>
				<li>
					<a class="{{$state.current.url}}"> Merchants</a>
				</li>
				<li>
					<a> {{$state.current.data.pageTitle}}</a>
				</li>
			</ol>
		</div>
		<div class="container-fuild animated fadeInRight">
			<div class="row">
				<div class="col-lg-2">
					<div class="ibox-title font-green-sharp fontpro border-bottom">
						<h3 style="margin-bottom: 3px;">Merchants BOARD</h3>
					</div>
					<ul class="list-group">
						<li class="list-group-item no-border" ui-sref-active="active" ng-class="{active: $state.includes('Merchants.Plans')}">
							<a ui-sref="Merchants.Merchant"><i class="fa fa-shield"></i> Merchants</a>
						</li>
						<li class="list-group-item no-border" ui-sref-active="active" ng-class="{active: $state.includes('')}">
							<a ui-sref="Merchants.MerchantCategory"><i class="fa fa-shield"></i> Merchant Category</a>
						</li>
						<li class="list-group-item no-border" ui-sref-active="active" ng-class="{active: $state.includes('')}">
							<a ui-sref="Merchants.MerchantCategoryMargin"><i class="fa fa-shield"></i> MerchantCategoryMargin</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-10">
					<div ui-view></div>

				</div>
			</div>
		</div>
		<div ng-include="'Views/FooterTemplate.html'"></div>

	</div>

</div>
