	<!DOCTYPE html>
	<html lang="en">
<th:block th:replace="fragments/PortalHeadFragment"></th:block>
	<body ng-app="DealMachaTerminal">

<header th:replace="fragments/HeaderFragment::HeaderFragment('')"></header>
<th:block th:replace="fragments/MainSliderFragment"></th:block>
<th:block th:replace="fragments/FourGridPromotionFragment"></th:block>
<th:block th:replace="fragments/FirstPageSectionFragment"></th:block>
<th:block th:replace="fragments/SecondPageSectionFragment"></th:block>
<th:block th:replace="fragments/FirstPromotionBannerFragment"></th:block>
<th:block th:replace = "fragments/ThirdPageSectionFragment"></th:block>
<th:block th:replace="fragments/SecondPromotionBannerFrament"></th:block>
<th:block th:replace = "fragments/FourthPageSectionFragment"></th:block>
<th:block th:replace="fragments/SecondPromotionBannerFrament"></th:block>							
<th:block th:replace="fragments/UpdateNotificationsFragment"></th:block>
<th:block th:replace="fragments/FullPageStoresSliderFragment"></th:block>
<th:block th:replace = "fragments/FooterFragment"></th:block>
<th:block th:replace="fragments/PortalScriptsFragment"></th:block>
	</body>
	</html>