<div class="row border-bottom white-bg">
	<nav class="navbar navbar-static-top" role="navigation">
		<div class="navbar-header">
			<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
				<i class="fa fa-reorder"></i>
			</button>
			<!-- <a href="#" class="navbar-brand"> -->
			<a href="index.html" class="navbar-brand" style="margin-top:-6px;height: 56px;border-right:1px solid #DFDFDF">
				<img src="/DEALMACHA/common/images/DealMachalogo1.png" alt="logo" style="width: 105px;height: 35px;" />
			</a>
		</div>
		<div class="navbar-collapse collapse" id="navbar" ng-controller="HeadController">
			<ul class="nav navbar-nav">
				<li ng-class="{active: $state.includes('{{mainmenu.include}}')}" ng-repeat="mainmenu in Menu">
					<a class="dropdown-toggle" ui-sref="{{mainmenu.url}}"> {{mainmenu.path}} </a>
				</li>
				<!-- <li class="dropdown" dropdown ng-class="{active: $state.includes('Chits')}">
					<a class="dropdown-toggle" ui-sref="Chits.Overview"> CHITS </a>
				</li>
				<li class="dropdown" dropdown ng-class="{active: $state.includes('Customers')}">
					<a class="dropdown-toggle" ui-sref="Customers.Overview"> CUSTOMERS </a>
				</li>
				<li class="dropdown" dropdown ng-class="{active: $state.includes('Payments')}">
					<a class="dropdown-toggle" ui-sref="Payments.Overview"> PAYMENTS</a>
				</li>
				<li class="dropdown" dropdown ng-class="{active: $state.includes('Reports')}">
					<a class="dropdown-toggle" ui-sref="Reports.Report"> REPORTS</a>
				</li>
				<li class="dropdown" dropdown ng-class="{active: $state.includes('Auctions')}">
					<a class="dropdown-toggle" ui-sref="Auctions.Overview"> AUCTIONS</a>
				</li> -->
			</ul>
			<ul class="nav navbar-top-links navbar-right">
				<li class="dropdown" dropdown>
					<a class="dropdown-toggle count-info" href dropdown-toggle> 
						<i class="fa fa-bell-o"></i>
						<span class="label label-primary">1</span>
					</a>
					<ul class="dropdown-menu dropdown-messages">
            <li>
              <div class="dropdown-messages-box">
                <a ui-sref="profile" class="pull-left">
                  <img alt="image" class="img-circle" src="/CHITS/common/images/logo2.png" />
                </a>
                <div>
                  <small class="pull-right">46h ago</small>
                  <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                  <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                </div>
              </div>
            </li>
          </ul>
				</li>
				<li class="dropdown" dropdown>
					<a class="dropdown-toggle" href dropdown-toggle>Log out <span class="caret"></span></a>
					<ul role="menu" class="dropdown-menu">
						<li><a ui-sref="Profile.MyProfile"><i class="fa fa-user"></i> My Profile</a></li>
						<li><a ui-sref="Settings.Overview"><i class="fa fa-gear"></i> Settings</a></li>
						<li><a href="#/LoginPage"><i class="fa fa-sign-out"></i> LogOut</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</div>