<div class="inmodal">
	<div class="modal-header">
		<h4 class="modal-title">Merchant EDIT</h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal form-bordered padder-t-b itemform" name="MerchantForm">
			<div class="form-group" style="height:30px;">
				<label class="col-sm-4 col-md-4 control-label">Merchant Code</label>
				<div class="col-sm-7">
					<div class="form-control-static">
						
					</div>
				</div>
			</div>
			<div class="form-group" style="height:30px;">
				<label class="col-sm-4 control-label">Merchant Name</label>
				<div class="col-sm-7">
					<div class="form-control-static">
						
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">AffliatedId</label>
				<div class="col-sm-7">
					<div class="form-control-static">
						
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label">Token</label>
				<div class="col-sm-7">
					
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
		<button type="button" class="btn btn-primary" ng-click="">Save changes</button>
	</div>
</div>

