<div class="ibox float-e-margins" ng-controller="MerchantCategoryCreationController	">
	<div class="ibox-title">
		<h5 class="text-uppercase fontpro">{{$state.current.data.pageTitle}}</h5>
	</div>
	<div class="ibox-content">
		<form action="#" class="form-horizontal customer_entry_form" id="merchantRegistration" name="MerchantsForm">
			<div class="form-body">
				<div class="form-group m-t-sm">
					<label class="control-label col-md-2">Merchant Name 
						<span class="required" aria-required="true">* </span>
					</label>
					<div class="col-md-4">
						<div class="input-group" ng-class="{'has-error':MerchantsForm.merchantName.$invalid && !MerchantsForm.merchantName.$pristine}">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							 <select class="form-control" data-display="merchantName" ng-model="MerchantCategory.merchantId" required name="merchantName">
							 	<option value=""></option>
                <option value="{{merchant.merchantId}}" ng-repeat="merchant in merchantDetails">{{merchant.merchantName}}</option>
              </select>
						</div>
					</div>
					<label class="control-label col-md-2">Category Name
						<span class="required">*</span>
					</label>
					<div class="col-md-4">
						<div ng-class="{'has-error':MerchantsForm.categoryName.$invalid && !MerchantsForm.categoryName.$pristine}">
							<input type="text" class="form-control" ng-model="MerchantCategory.categoryName" required name="categoryName" required name="categoryName">
						</div>
					</div>
				</div>
			</div>
			<div class="form-actions" style="margin-top: 45px;">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="text-center">
								<a class="btn" ng-disabled="MerchantsForm.$invalid" ng-click="MerchantCategoryCreate(MerchantCategory)" style=" color: #FFFFFF;background-color: #35aa47;">Submit</a>
									<a ui-sref="Merchants.MerchantCategory" class="btn default button_bckgrndclr">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>