<div class="ibox-title">
	<h5 class="text-uppercase">AVAILABLE {{$state.current.data.pageTitle}}</h5>
	<!-- <div class="ibox-tools">
		<a class="tools-p" ng-click="AuctionFull()"><i class="fa fa-expand"></i> Full Screen</a>
	</div> -->
</div>
<div ng-controller="SingleOfferController">
	<form class="form-horizontal profile_view">
		<div class="form-body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-4">Merchant<span class="required">*</span></label>
							<div class="col-md-6">
								<div class="form-control-static"> </div>
							</div>
					</div>
				</div>
				<div class="col-md-6">
				 
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					 <div class="form-group">
						<label class="control-label col-md-4">Programme<span class="required">*</span></label>
						<div class="col-md-8">
							<div class="form-control-static"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-4">Commission<span class="required">*</span></label>
						<div class="col-md-8">
							<div class="form-control-static"> </div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-4">Payout Type<span class="required">*</span></label>
							<div class="col-md-8">
								<div class="form-control-static"> </div>
							</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-4">Cookie Duration<span class="required">*</span></label>
							<div class="col-md-8">
								<div class="form-control-static"> </div>
							</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-4">Product Feed<span class="required">*</span></label>
					 <div class="col-md-8">
							<div class="form-control-static"> </div>
						</div>
						</div>
					</div>

				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-4">Uid<span class="required">*</span></label>
						<div class="col-md-8">
							<div class="form-control-static"> </div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-4">Deep Link</label>
					 <div class="col-md-8">
							<div class="form-control-static"> </div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-4">Programme Status<span class="required">*</span></label>
					 <div class="col-md-8">
							<div class="form-control-static"> </div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-4">Commission Structure<span class="required">*</span></label>
						 <div class="col-md-8">
								<div class="form-control-static"> </div>
							</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-4">Key Information<span class="required">*</span></label>
						 <div class="col-md-8">
								<div class="form-control-static"> </div>
							</div>	
				</div>
				</div>
			</div>
				<!-- <div class="form-actions">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-offset-9 col-md-9">
									<button class="btn green-haze edit_back profile_edit" ng-click="">Edit</button>
									<a href="" class="btn default hide_Cancel hide">Cancel</a>
								</div>
							</div>
						</div>
			
					</div>
				</div> -->
	</form>
</div>