<div class="ibox-title">
	<h5 class="text-uppercase">AVAILABLE {{$state.current.data.pageTitle}}</h5>
</div>
<div ng-controller="SinglePayoomOfferController">
	<form class="form-horizontal profile_view">
		 <div class="form-body">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-4">Offer Name</label>
								<div class="col-md-6">
									<div class="form-control-static"> </div>
								</div>
						</div>
					</div>
					<div class="col-md-6">
					 <div class="form-group">
								<label class="control-label col-md-4">Offer Description</label>
								<div class="col-md-8">
									<div class="form-control-static"> </div>
								</div>
							</div>
					</div>
				</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
							<label class="control-label col-md-4">Require Approval</label>
								<div class="col-md-6">
									<div class="form-control-static"> </div>
								</div>
						</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Require Terms and Conditions</label>
								<div class="col-md-8">
									<div class="form-control-static"> </div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Terms and Conditions</label>
									<div class="col-md-8">
										<div class="form-control-static"> </div>
									</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Preview Url</label>
									<div class="col-md-8">
										<div class="form-control-static"> </div>
									</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Currency</label>
							 <div class="col-md-8">
									<div class="form-control-static"> </div>
								</div>
								</div>
							</div>
							<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Default Payout</label>
								<div class="col-md-8">
									<div class="form-control-static"> </div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Status</label>
							 <div class="col-md-8">
									<div class="form-control-static"> </div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Expiration Date</label>
							 <div class="col-md-8">
									<div class="form-control-static"> </div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-4">Payout Type</label>
							 <div class="col-md-8">
									<div class="form-control-static"> </div>
								</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-4">Percent Payout</label>
							 <div class="col-md-8">
									<div class="form-control-static"> </div>
								</div>
						</div>	
					</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Featured</label>
								 <div class="col-md-8">
										<div class="form-control-static"> </div>
									</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Conversion Cap</label>
								 <div class="col-md-8">
										<div class="form-control-static"> </div>
									</div>
							</div>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Monthly Conversion Cap</label>
								 <div class="col-md-8">
										<div class="form-control-static"> </div>
									</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Payout Cap</label>
								 <div class="col-md-8">
										<div class="form-control-static"> </div>
									</div>
							</div>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Monthly Payout Cap</label>
								 <div class="col-md-8">
										<div class="form-control-static"> </div>
									</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Allow Website Links</label>
								 <div class="col-md-8">
										<div class="form-control-static"> </div>
									</div>
							</div>	
						</div>
					</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label col-md-4">Allow Direct Links</label>
									 <div class="col-md-8">
											<div class="form-control-static"> </div>
										</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label col-md-4">Show Custom Variables</label>
									 <div class="col-md-8">
											<div class="form-control-static"> </div>
										</div>
								</div>	
							</div>
						</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Show Mail List</label>
								 <div class="col-md-8">
										<div class="form-control-static"> </div>
									</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Dne List Id</label>
								 <div class="col-md-8">
										<div class="form-control-static"> </div>
									</div>
							</div>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Show Mail List</label>
								 <div class="col-md-8">
										<div class="form-control-static"> </div>
									</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Dne List Id</label>
								 <div class="col-md-8">
										<div class="form-control-static"> </div>
									</div>
							</div>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Show Mail List</label>
								 <div class="col-md-8">
										<div class="form-control-static"> </div>
									</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Dne List Id</label>
								 <div class="col-md-8">
										<div class="form-control-static"> </div>
									</div>
							</div>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Show Mail List</label>
								 <div class="col-md-8">
										<div class="form-control-static"> </div>
									</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Dne List Id</label>
								 <div class="col-md-8">
										<div class="form-control-static"> </div>
									</div>
							</div>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Email Instructions</label>
								 <div class="col-md-8">
										<div class="form-control-static"> </div>
									</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Email Instructions From</label>
								 <div class="col-md-8">
										<div class="form-control-static"> </div>
									</div>
							</div>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Email Instructions Subject</label>
								 <div class="col-md-8">
										<div class="form-control-static"> </div>
									</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Has Goals Enabled</label>
								 <div class="col-md-8">
										<div class="form-control-static"> </div>
									</div>
							</div>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Default Goal Name</label>
								 <div class="col-md-8">
										<div class="form-control-static"> </div>
									</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-md-4">Use Target Rules</label>
								 <div class="col-md-8">
										<div class="form-control-static"> </div>
									</div>
							</div>	
						</div>
					</div>
				</div>
				<!-- 	<div class="form-actions">
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-offset-9 col-md-9">
										<button class="btn green-haze edit_back profile_edit" ng-click="OfferEdit()">Edit</button>
										<a href="" class="btn default hide_Cancel hide">Cancel</a>
									</div>
								</div>
							</div>
				
						</div>
					</div> -->
				</form>
</div>