<div class="ibox-title">
	<h5 class="text-uppercase">AVAILABLE {{$state.current.data.pageTitle}}</h5>
</div>
<div ng-controller="SingleRequestsTypeController">
	<form class="form-horizontal profile_view">
		<div class="form-body">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-4">Request Type</label>
							<div class="col-md-6">
								<div class="form-control-static">{{singleRequestTypesDetails.requestType}}</div>
							</div>
					</div>
				</div>
				<div class="col-md-6">
				 <div class="form-group">
						<label class="control-label col-md-4">status</label>
							<div class="col-md-6">
								<div class="form-control-static">{{singleRequestTypesDetails.status}}</div>
							</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-4">Request Description</label>
						<div class="col-md-8">
							<div class="form-control-static">{{singleRequestTypesDetails.requestDescription}}</div>
						</div>
					</div>
			 </div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-4">RequestType Attribute</label>
							<div class="col-md-8">
								<div class="form-control-static" ng-repeat="requestModels in singleRequestTypesDetails.requestTypeAttributesModels">{{requestModels.requestTypeAttribute}}</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</form>
		<div class="form-actions">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-offset-9 col-md-9">
						 <!--  <button class="btn green-haze edit_back profile_edit">Edit</button> -->
						 <a href="javascript:;" ng-click="RequestTypeEdit(singleRequestTypesDetails)" class="btn btn-outline btn-primary">
								EDIT
							</a>
							<a href="" class="btn default hide_Cancel hide">Cancel</a>
						</div>
					</div>
				</div>
	
			</div>
		</div>
</div>