<div class="products">
                        <div class="pro_head">
                            <h4>Featured Products</h4>
                        </div>
                        <div class="featured_div">
                            <div style="float: left;">
                                <img src="../home/imageindex/1-72x72.png" class="best_sell_img"/>     
                            </div>
                            <div class="star_rate">
                                <span class="rating r12 star_rate1"></span>
                                <i style="width:81%"></i>
                            </div>
                            <h4><a href="#">Dinning Table</a></h4>
                            <p class="price pricing">
                                <span class="price_new">£20.70</span>
                                <span class="price_old">£40.71</span>
                            </p>
                        </div>
                        <div class="featured_div">
                            <div style="float: left;">
                                <img src="../home/imageindex/1-72x72.png" class="best_sell_img"/>     
                            </div>
                            <div class="star_rate">
                                <span class="rating r12 star_rate1"></span>
                                <i style="width:81%"></i>
                            </div>
                            <h4><a href="#">Dinning Table</a></h4>
                            <p class="price pricing">
                                <span class="price_new">£20.70</span>
                                <span class="price_old">£40.71</span>
                            </p>
                        </div>
                        <div class="featured_div">
                            <div style="float: left;">
                                <img src="../home/imageindex/1-72x72.png" class="best_sell_img"/>     
                            </div>
                            <div class="star_rate">
                                <span class="rating r12 star_rate1"></span>
                                <i style="width:81%"></i>
                            </div>
                            <h4><a href="#">Dinning Table</a></h4>
                            <p class="price pricing">
                                <span class="price_new">£20.70</span>
                                <span class="price_old">£40.71</span>
                            </p>
                        </div>
                        <div>
                            <div style="float: left;">
                                <img src="../home/imageindex/1-72x72.png" class="best_sell_img" style="margin-top: 15px;" />     
                            </div>
                            <div class="star_rate">
                                <span class="rating r12 star_rate1"></span>
                                <i style="width:81%"></i>
                            </div>
                            <h4><a href="#">Dinning Table</a></h4>
                            <p class="price pricing">
                                <span class="price_new">£20.70</span>
                                <span class="price_old">£40.71</span>
                            </p>
                        </div>
                    </div>