<div class="title_head">
                        <h3>Tablet</h3>
                    </div>
                    <div class="lap_border">
                        
                    </div>
                    <div class="wrapper">
                        <div class="jcarousel-wrapper deal_carso">
                            <div data-jcarousel="true" class="jcarousel">
                                <ul class="ram">
                                    <li>
                                        <div class="deal_div">
                                            <img src="../home/imageindex/19-200x200.png" class="img-responsive"/>
                                            <div class="deal_img_info">
                                                 <h4><a href="#">Washing Machine</a></h4>
                                                <div class="star_rate">
                                                    <span class="rating r12"></span>
                                                    <i style="width:81%"></i>
                                                </div>
                                                <p class="price">
                                                    <span class="price_new">£20.70</span>
                                                    <span class="price_old">£40.71</span>
                                                </p>
                                                <a href="#" class="cart_btn">
                                                    <i class="flaticon-shopping-cart"></i> ADD TO CART
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li >
                                        <div class="deal_div">
                                            <img src="../home/imageindex/20-200x200.png" class="img-responsive"/>
                                            <div class="deal_img_info">
                                                <h4><a href="#">LG Refrigerator</a></h4>
                                                <div class="star_rate">
                                                    <span class="rating r12"></span>
                                                    <i style="width:81%"></i>
                                                </div>
                                                
                                                <p class="price">
                                                    <span class="price_new">£20.70</span>
                                                    <span class="price_old">£40.71</span>
                                                </p>
                                                <a href="#" class="cart_btn">
                                                    <i class="flaticon-shopping-cart"></i> ADD TO CART
                                                </a>
                                            </div>
                                        </div> 
                                    </li>
                                    <li >
                                        <div class="deal_div">
                                            <img src="../home/imageindex/21-200x200.png" class="img-responsive"/>
                                            <div class="deal_img_info">
                                                <h4><a href="#">Air Cooler</a></h4>
                                                <div class="star_rate">
                                                    <span class="rating r12"></span>
                                                    <i style="width:81%"></i>
                                                </div>
                                                <p class="price">
                                                    <span class="price_new">£20.70</span>
                                                    <span class="price_old">£40.71</span>
                                                </p>
                                                <a href="#" class="cart_btn">
                                                    <i class="flaticon-shopping-cart"></i> ADD TO CART
                                                </a>
                                            </div>
                                        </div> 
                                    </li>
                                    
                                    <li>
                                        <div class="deal_div">
                                            <img src="../home/imageindex/22-200x200.png" class="img-responsive"/>
                                            <div class="deal_img_info">
                                                <h4><a href="#">Fan</a></h4>
                                                <div class="star_rate">
                                                    <span class="rating r12"></span>
                                                    <i style="width:81%"></i>
                                                </div>
                                                
                                                <p class="price">
                                                    <span class="price_new">£20.70</span>
                                                    <span class="price_old">£40.71</span>
                                                </p>
                                                <a href="#" class="cart_btn">
                                                    <i class="flaticon-shopping-cart"></i> ADD TO CART
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="deal_div">
                                            <img src="../home/imageindex/23-200x200.png" class="img-responsive"/>
                                            <div class="deal_img_info">
                                                <h4><a href="#"> Steam Iron</a></h4>
                                                <div class="star_rate">
                                                    <span class="rating r12"></span>
                                                    <i style="width:81%"></i>
                                                </div>
                                                
                                                <p class="price">
                                                    <span class="price_new">£20.70</span>
                                                    <span class="price_old">£40.71</span>
                                                </p>
                                                <a href="#" class="cart_btn">
                                                    <i class="flaticon-shopping-cart"></i> ADD TO CART
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="deal_div">
                                            <img src="../home/imageindex/24-200x200.png" class="img-responsive"/>
                                            <div class="deal_img_info">
                                                <h4><a href="#">Air Purifier</a></h4>
                                                <div class="star_rate">
                                                    <span class="rating r12"></span>
                                                    <i style="width:81%"></i>
                                                </div>
                                                
                                                <p class="price">
                                                    <span class="price_new">£20.70</span>
                                                    <span class="price_old">£40.71</span>
                                                </p>
                                                <a href="#" class="cart_btn">
                                                    <i class="flaticon-shopping-cart"></i> ADD TO CART
                                                </a>
                                            </div>
                                        </div> 
                                    </li>
                                </ul>
                            </div>
                            <div class="best_seller_arrow">
                                <a data-jcarouselcontrol="true" href="#" class="jcarousel-control-prev">‹</a>
                                <a data-jcarouselcontrol="true" href="#" class="jcarousel-control-next">›</a>
                            </div>
                        </div>
                    </div>
                    <div class="banner_home_1">
                        <ul>
                            <li >
                                <a href="#" class="banner_home_2">
                                    <img src="../home/images/st4.png " alt="" class="img-responsive"/>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../home/images/520x168.png" alt=""  class="img-responsive"/>
                                </a>
                            </li>
                        </ul>
                    </div>