<div class="page_section43">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-12">
                <th:block th:replace="fragments/DealsHotSaleFragment"></th:block>
                <div class="hot_sale_banner">
                    <img src="../home/images/banner1-home1.png" class="img-responsive"/>
                </div>
                <th:block th:replace="fragments/DealsFeaturedProductsFragment"></th:block>
            </div>
            <div class="col-lg-9 col-sm-9 col-xs-12">
                <th:block th:replace="fragments/DealsFirstSingleItemFragment"></th:block>
                <th:block th:replace="fragments/DealsSecondSingleItemFragment"></th:block>     
            </div>
        </div>
    </div>
</div>