<div class="hot_sale">
    <div class="hot_sale_head">
        <h4><span class="flaticon-time "></span> Hot Sale</h4>
    </div>
    <img src="../home/imageindex/24-200x200.png" class="img-responsive"/>
    <div class="deal_img_info">
        <h4><a href="#">Air Purifier</a></h4>
        <div class="star_rate">
            <span class="rating r12"></span>
            <i style="width:81%"></i>
        </div>
        
        <p class="price">
            <span class="price_new">$20.70</span>
            <span class="price_old">$40.71</span>
        </p>
        <a href="#" class="cart_btn">
            <i class="flaticon-shopping-cart"></i> ADD TO CART
        </a>
    </div>
</div>