<div class="page_section42">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12 deal_tab">
                <th:block th:replace="fragments/DealsProductTabFragment"></th:block>
                <div class="tab-content">
                    <th:block th:replace="fragments/DealsBestsellerProductFragment"></th:block>
                    <th:block th:replace="fragments/DealsMostviewedProductFragment"></th:block>
                    <th:block th:replace="fragments/DealsRandomProductFragment"></th:block>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>