<div class="page_section2">
<div class="container">
<div class="row">
<div class="col-lg-9 col-md-8 col-sm-6 col-xs-12 hot_deals">
<div class="">
<div class="col-lg-12 hot_heading">
 <h1 th:inline="text" >[[${firstPageLeftSection.sectionTitle}]] <small class="arow-after1"></small></h1> 
</div>
</div>
<div class="row">
<div class="wrapper">
<div class="jcarousel-wrapper">
    <div data-jcarousel="true" class="jcarousel" >
        <ul>
            <li th:each="post:${firstPageLeftSection.cmsBlocks[0].cmsPostses}">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div class="item_div hot_deal_main_carousel mgt10">
                        <img th:src = "${post.cmsPostsImageses[0].imageLocation}" class="img-responsive" />
                        <!-- <div class="right_block" th:if="${post.postsExpiryTime}">
                            <div class="caption">
                                <div class="item_time" >
                                    <div class="item_timer product_time_57">
                                        <div class="time_item ">
                                            <div class="num_time">114</div>
                                            <div class="name_time">DAYS</div>
                                        </div>
                                        <div class="time_item ">
                                            <div class="num_time">114</div>
                                            <div class="name_time"> DAYS</div>
                                        </div>
                                        <div class="time_item ">
                                            <div class="num_time">114</div>
                                            <div class="name_time"> DAYS</div>
                                        </div>
                                        <div class="time_item ">
                                            <div class="num_time">114</div>
                                            <div class="name_time">DAYS </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                       <!--  <div class="star_rate">
                            <span class="rating r12"></span>
                            <i style="width:81%"></i>
                        </div> -->
                        <h4><a th:href="${post.url}" th:target="${post.urlTargetLocation}" th:text="${post.postsProductTitle}">Washing Machine</a></h4>
                        <p class="price">
                            
                            <span class="price_old" th:inline="text"><i class="fa fa-inr ls5" aria-hidden="true"></i>[[${post.postsProductPrice}]]/-</span>
                            <span class="price_new" th:inline="text"><i class="fa fa-inr ls5" aria-hidden="true"></i>[[${post.postsProductAfterPrice}]]/-</span>
                        </p>
                    </div>
                </div>
            </li>
      
   
       
   
        
        </ul>
    </div>
    <div class="best_seller_arrow mgt40">
        <a data-jcarouselcontrol="true" href="#" class="jcarousel-control-prev">‹</a>
        <a data-jcarouselcontrol="true" href="#" class="jcarousel-control-next">›</a>
    </div>
 </div>
</div>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
<div class=" best_seller_div">  
<div class="col-lg-12 hot_heading">
 <h1 th:inline="text" >[[${firstPageRightSection.sectionTitle}]]<small class="arow-after2"></small></h1>
</div>
<div class="wrapper">
 <div class="jcarousel-wrapper">
     <div data-jcarousel="true" class="jcarousel">
         <ul>
              <li  th:each="post,postIndex:${firstPageRightSection.cmsBlocks[0].cmsPostses}" th:with = "listSize = ${#lists.size(firstPageRightSection.cmsBlocks[0].cmsPostses)}">
              <th:block th:if="${postIndex.index}%3==0" >
                <div class="col-lg-12 col-xs-12 best_seller_list1 ptb mgt20" th:if="${postIndex.index} &lt; ${listSize}">
                    <div class="best_seller_img col-lg-6">
                        <img th:src="${firstPageRightSection.cmsBlocks[0].cmsPostses[postIndex.index].cmsPostsImageses[0].imageLocation}" class="best_sell_img img-responsive" />
                    </div>
                    <div class="col-lg-6 p-none" style="float: left;">
                        <!-- <div class="star_rate">
                            <span class="rating r12"></span>
                            <i style="width:81%"></i>
                        </div> -->
                        <h4><a class="" th:target="${firstPageRightSection.cmsBlocks[0].cmsPostses[postIndex.index].urlTargetLocation}" th:href="${firstPageRightSection.cmsBlocks[0].cmsPostses[postIndex.index].url}" th:text="${firstPageRightSection.cmsBlocks[0].cmsPostses[postIndex.index].postsProductTitle}">Dinning Table</a></h4>
                        <p class="price ">
                            <span class="price_old" th:inline="text"><i class="fa fa-inr ls5" aria-hidden="true"></i>[[${firstPageRightSection.cmsBlocks[0].cmsPostses[postIndex.index].postsProductPrice}]]/-</span><br/>
                            <span class="price_new" th:inline="text"><i class="fa fa-inr ls5" aria-hidden="true"></i>[[${firstPageRightSection.cmsBlocks[0].cmsPostses[postIndex.index].postsProductAfterPrice}]]/-</span>
                        </p>
                    </div>
                </div>

               <div class="col-lg-12 col-xs-12 best_seller_list1 ptb mgt20" th:if="${postIndex.index+1} &lt; ${listSize}">
                    <div class="best_seller_img col-lg-6">
                        <img th:src="${firstPageRightSection.cmsBlocks[0].cmsPostses[postIndex.index+1].cmsPostsImageses[0].imageLocation}" class="best_sell_img img-responsive" />
                    </div>
                    <div  style="float: left;" class="col-lg-6 p-none">
                       <!--  <div class="star_rate">
                            <span class="rating r12"></span>
                            <i style="width:81%"></i>
                        </div> -->
                        <h4><a class="" th:target="${firstPageRightSection.cmsBlocks[0].cmsPostses[postIndex.index+1].urlTargetLocation}" th:href="${firstPageRightSection.cmsBlocks[0].cmsPostses[postIndex.index+1].url}" th:text="${firstPageRightSection.cmsBlocks[0].cmsPostses[postIndex.index+1].postsProductTitle}">Dinning Table</a></h4>
                        <p class="price ">
                            <span class="price_old" th:inline="text"><i class="fa fa-inr ls5" aria-hidden="true"></i>[[${firstPageRightSection.cmsBlocks[0].cmsPostses[postIndex.index+1].postsProductPrice}]]/-</span><br/>
                            <span class="price_new" th:inline="text"><i class="fa fa-inr ls5" aria-hidden="true"></i>[[${firstPageRightSection.cmsBlocks[0].cmsPostses[postIndex.index+1].postsProductAfterPrice}]]/-</span>
                        </p>
                    </div>
                </div>
              <div class="col-lg-12 col-xs-12 best_seller_list1 ptb"  th:if="${postIndex.index+2} &lt; ${listSize}">
                    <div class="best_seller_img col-lg-6">
                        <img th:src="${firstPageRightSection.cmsBlocks[0].cmsPostses[postIndex.index+2].cmsPostsImageses[0].imageLocation}" class="best_sell_img img-responsive" />
                    </div>
                    <div  style="float: left;" class="col-lg-6">
                        <!-- <div class="star_rate">
                            <span class="rating r12"></span>
                            <i style="width:81%"></i>
                        </div> -->
                        <h4><a class="mgl5" th:target="${firstPageRightSection.cmsBlocks[0].cmsPostses[postIndex.index+2].urlTargetLocation}" th:href="${firstPageRightSection.cmsBlocks[0].cmsPostses[postIndex.index+2].url}" th:text="${firstPageRightSection.cmsBlocks[0].cmsPostses[postIndex.index+2].postsProductTitle}">Dinning Table</a></h4>
                        <p class="price mgl5">
                            <span class="price_old" th:inline="text"><i class="fa fa-inr ls5" aria-hidden="true"></i>[[${firstPageRightSection.cmsBlocks[0].cmsPostses[postIndex.index+2].postsProductPrice}]]/-</span>
                            <span class="price_new" th:inline="text"><i class="fa fa-inr ls5" aria-hidden="true"></i>[[${firstPageRightSection.cmsBlocks[0].cmsPostses[postIndex.index+2].postsProductAfterPrice}]]/-</span>
                        </p>
                    </div>
                </div>
                </th:block>
            </li>
    
       
         </ul>
     </div>
     <div class="best_seller_arrow">
         <a data-jcarouselcontrol="true" href="#" class="jcarousel-control-prev jcarousel-control-prev1">‹</a>
         <a data-jcarouselcontrol="true" href="#" class="jcarousel-control-next jcarousel-control-next1">›</a>
     </div>
 </div>
</div>
</div>
</div>
</div>
</div>
</div>