	<footer>
		<div class="footer_top">
			<div class="container">
				<div class="">
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 social-block">
						<ul class="social_block">
							<li>
								<a href="#">
									<i class="flaticon-rss-symbol"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="flaticon-twitter-logo-silhouette"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="flaticon-facebook-logo"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="flaticon-pinterest-logo-button"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="flaticon-google-plus-logo"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-7 col-xs-12">
						 <div class="news_letter">
							<div class="title_block">
								<h2>SIGN UP FOR OUR NEWSLETTER</h2>
							</div>
							<div class="block_content">
								<p>Get our updates on new arrivals and discount</p>
							</div>
						 </div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
						<div class="form-group required">
							<div class="input_box">
								<input type="email" placeholder="Enter Your Email" class="inpu"/>
								<button type="submit">SUBSCRIBE</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_navbar">
			<div class="container"> 
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box_footer">
						<div class="content_block_footer">
							<div class="footer_logo">
								<a href="#">
								<img src="/home/images/160x40_logo.png" class="img-responsive" style="margin: auto;"/>
								</a>
							</div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box_account box_footer">
						<div class="box_account_head">
							<h3>MY ACCOUNT</h3>
							<div class="">
								<ul class="menu">
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;BRANDS</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;Gift Vouchers</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;Affiliates</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;Specials</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;Our Blogs</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-center box_account box_footer">
						<div class="box_account_head">
							<h3>INFORMATION</h3>
							<div class="">
								<ul class="menu">
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;Gallery</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;About Us</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;FAQ</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;Pricing Tables</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;Terms &amp; Conditions</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-center box_account">
						<div class="box_account_head">
							<h3>CONTACT US</h3>
							<div class="">
								<ul class="menu">
									<li><p><i class="flaticon-home-page contact_icons"></i> &nbsp;&nbsp;My Company, 42 avenue des Champs</p></li>
									<li><p><i class="flaticon-new-email-envelope contact_icons"></i> &nbsp;&nbsp;Email: sales@yourcompany.com</p></li>
									<li><p><i class="flaticon-call-answer contact_icons"></i> &nbsp;&nbsp;Phone 1: 9000730409</p></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_bottom_block ">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-center copy_right_text">		
						© 2016 SO Deal Macha. All Rights Reserved.                  
					</div>
				</div>
			</div>
		</div>
	</footer>
