	<footer ng-controller="FooterController">
		<div class="footer_top">
			<div class="container">
				<div class="">
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 social-block">
						<ul class="social_block">
							<li>
								<a href="#">
									<i class="flaticon-rss-symbol"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="flaticon-twitter-logo-silhouette"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="flaticon-facebook-logo"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="flaticon-pinterest-logo-button"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="flaticon-google-plus-logo"></i>
								</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-7 col-xs-12">
						 <div class="news_letter">
							<div class="title_block">
								<h2>SIGN UP FOR OUR NEWSLETTER</h2>
							</div>
							<div class="block_content">
								<p>Get our updates on new arrivals and discount</p>
							</div>
						 </div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
					<!-- 	<div class="form-group required"> -->
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<form name="subscribe_form">

							<div class="input_box" ng-class="{'has-error':subscribe_form.emailId.$invalid &amp;&amp; !subscribe_form.emailId.$pristine}">
									
								
									<input type="email" class="inpu" placeholder="Email" ng-model="user.userEmail" name="emailId" required="required" />
									
							
								
								<button type="submit" ng-click="UserEmail(user)" ng-disabled="subscribe_form.$invalid">SUBSCRIBE</button>
								<p ng-show="subscribe_form.emailId.$invalid &amp;&amp; !subscribe_form.emailId.$pristine" class="help-block pull-left">Enter a valid email.</p>
							</div>
							</form>
						</div>
						<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div>
								<p style="color:#fff;">{{subStatus}}</p>
							</div>
						</div> -->
					<!-- 	</div> -->
					</div>
				</div>
			</div>
			<a href="#header_top" id="back-top" class="goTop animated fadeIn" style="display: block;"><i class="fa fa-angle-up"></i></a>
		</div>
		<div class="footer_navbar">
			<div class="container"> 
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 box_footer">
						<div class="content_block_footer">
							<div class="footer_logo">
								<a href="#">
								<img src="/home/images/160x40_logo.png" class="img-responsive" style="margin: auto;"/>
								</a>
							</div>
							<p><a href="http://192.168.0.73:8085">Dealmacha.com</a> is an online marketplace, featuring a wide assortment of products across categories like Mobiles, Electronics, Fashion accessories, Apparel, Sports, Books amongst others.</p>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 box_account box_footer">
						<div class="box_account_head">
							<h3 style="text-align:center; font-size: 23px; margin-top: -14px;">QUICK LINKS</h3>
							<div class="">
								<ul class="menu">
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;BRANDS</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;Gift Vouchers</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;Affiliates</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;Specials</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;Our Blogs</a></li>
									<li><a href="/login"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;Sign In</a></li>
									<li style="margin-left: 3px;"><a href="/register"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;Register</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;Track Order</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;Terms &amp;Conditions</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 box_account box_footer">
				<!-- 		<div class="box_account_head"> -->
							<div class="">
								<ul class="menu">
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;Privacy Policy</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;About SHOP CJ</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;Career</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;Site Map</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;FAQ/Customer Board</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;Notices</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;SHOP CJ Point Policy</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;Bulk Order Inquiry</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;Franchisee Inquiry</a></li>
									<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i>&nbsp;&nbsp;Invite Friends</a></li>
								</ul>
							</div>
						<!-- </div> -->
					</div>
					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-center box_account">
						<div class="box_account_head">
							<h3>CONTACT US</h3>
							<div class="">
								<ul class="menu">
									<li><p><i class="flaticon-home-page contact_icons"></i> &nbsp;&nbsp;My Company, 42 avenue des Champs</p></li>
									<li><p><i class="flaticon-new-email-envelope contact_icons"></i> &nbsp;&nbsp;Email: dealmacha.com</p></li>
									<li><p><i class="flaticon-call-answer contact_icons"></i> &nbsp;&nbsp;Phone 1: 9000730409</p></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_bottom_block ">
			<div class="container">
				<div class="row">
 					<div class="col-md-6">
						2016 © Dealmacha All Rights Reserved.
 					</div>
 					<div class="col-md-6 text-right">
						<span><small>Powered By </small> <a href="http://www.arthvedi.com" style="color:#39b54a">Arthvedi</a></span> 
 					</div>
				</div>
			</div>
		</div>
	</footer>
