<div class="page_section6">
            <div class="container">
                <div class="dm_head_bd">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hot_heading hot_head_pc">
                        <h1>COMPUTER <small class="arow-after5"></small></h1>
                        <ul class="hidden-xs head_list_ul">
                            <li class="active"><a data-toggle="tab" href="#top_sale3">Top Sale</a></li>
                            <li><a data-toggle="tab" href="#sort_order3">Sort Order</a></li>
                            <li><a data-toggle="tab" href="#top_rating3">Top Rating</a></li>
                            <li><a data-toggle="tab" href="#quantity3">Quantity</a></li>
                            <li><a data-toggle="tab" href="#price3">Price</a></li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="top_sale3" class="tab-pane fade in active">
                        <div class=" elec_div1">
                            <div class="col-lg-2 col-md-3 hidden-sm hidden-xs plr">
                                <a href="#">
                                    <img src="../home/images/190x255_2.jpg" class="img-responsive"/>
                                </a>
                            </div>
                            <div class="col-lg-8 col-md-6 col-sm-8 hidden-xs plr">
                                <a href="#">
                                    <img src="../home/images/760x255_2.jpg" class="img-responsive"/>
                                </a>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 item_div1">
                                <img src="../home/imageindex/13-200x200.png" class="img-responsive"/>
                                <div class="star_rate">
                                    <span class="rating r12"></span>
                                    <i style="width:81%"></i>
                                </div>
                                <h4><a href="#">refrigerator</a></h4>
                                <p class="price">
                                    <span class="price_new">£20.70</span>
                                    <span class="price_old">£40.71</span>
                                </p>
                            </div>
                        </div>
                        <div class="">
                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 item_div1">   
                                <div class="hot_cat_head">
                                    <h1>HOT CATEGORIES</h1>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right"></i> &nbsp;Tablet</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i> &nbsp;Smartphone</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i> &nbsp;Memory Card</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i> &nbsp;Mobile Accessories</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i> &nbsp;Mobiles</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i> &nbsp;TVS</a></li>
                                </ul>      
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 item_div1">   
                                <img src="../home/imageindex/14-200x200.png" class="img-responsive"/>
                                <div class="star_rate">
                                    <span class="rating r12"></span>
                                    <i style="width:81%"></i>
                                </div>
                                <h4><a href="#">Desktop</a></h4>
                                <p class="price">
                                    <span class="price_new">£20.70</span>
                                    <span class="price_old">£40.71</span>
                                </p>        
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 item_div1">   
                                <img src="../home/imageindex/15-200x200.png" class="img-responsive"/>
                                <div class="star_rate">
                                    <span class="rating r12"></span>
                                    <i style="width:81%"></i>
                                </div>
                                <h4><a href="#">Printer</a></h4>
                                <p class="price">
                                    <span class="price_new">£20.70</span>
                                    <span class="price_old">£40.71</span>
                                </p>        
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 item_div1">   
                                <img src="../home/imageindex/16-200x200.png" class="img-responsive"/>
                                <div class="star_rate">
                                    <span class="rating r12"></span>
                                    <i style="width:81%"></i>
                                </div>
                                <h4><a href="#">Cpu</a></h4>
                                <p class="price">
                                    <span class="price_new">£20.70</span>
                                    <span class="price_old">£40.71</span>
                                </p>        
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 item_div1">   
                                <img src="../home/imageindex/17-200x200.png" class="img-responsive"/>
                                <div class="star_rate">
                                    <span class="rating r12"></span>
                                    <i style="width:81%"></i>
                                </div>
                                <h4><a href="#">Air Cooler</a></h4>
                                <p class="price">
                                    <span class="price_new">£20.70</span>
                                    <span class="price_old">£40.71</span>
                                </p>        
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 item_div1">   
                                <img src="../home/imageindex/18-200x200.png" class="img-responsive"/>
                                <div class="star_rate">
                                    <span class="rating r12"></span>
                                    <i style="width:81%"></i>
                                </div>
                                <h4><a href="#">refrigerator</a></h4>
                                <p class="price">
                                    <span class="price_new">£20.70</span>
                                    <span class="price_old">£40.71</span>
                                </p>        
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>