<div class="page_section8">
            <div class="container">
                <div class="row">
                    <div class="wrapper col-lg-12 col-xs-12">
            <div class="jcarousel-wrapper bottom_carso">
                <div data-jcarousel="true" class="jcarousel jcarousel1">
                    <ul>
                        <li >
                            <img src="/home/images/7-133x75.jpg"/>
                        </li>
                        <li >
                            <img src="/home/images/7-133x75.jpg"/>
                        </li>
                        <li >
                            <img src="/home/images/7-133x75.jpg"/>
                        </li>
                        <li >
                            <img src="/home/images/7-133x75.jpg"/>
                        </li>
                        <li >
                            <img src="/home/images/7-133x75.jpg"/>
                        </li>
                        <li >
                           <img src="/home/images/7-133x75.jpg"/>
                        </li>
                        <li >
                            <img src="/home/images/7-133x75.jpg"/>
                        </li>
                        <li >
                           <img src="/home/images/7-133x75.jpg"/>
                        </li>
                        <li >
                            <img src="/home/images/7-133x75.jpg"/>
                        </li>
                        <li >
                           <img src="/home/images/7-133x75.jpg"/>
                        </li>
                    </ul>
                </div>
                <div class="best_seller_arrow">
                    <a data-jcarouselcontrol="true" href="#" class="jcarousel-control-prev jcarousel-control-prev2">‹</a>
                <a data-jcarouselcontrol="true" href="#" class="jcarousel-control-next jcarousel-control-next2">›</a>                
                </div>
            </div>
        </div>
                </div>
            </div>
        </div>