<div class="page_section_login" >
<div class="container">
  <div class="row">
    <div class="col-md-4 login_div">
      <h3>New Customer</h3>
      <h5>Register Account</h5>
      <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
      <a href="/register">
        <button class="btn btn-lg  btn-block sigin" type="submit">REGISTER</button>
      </a>
    </div>
    <div class="col-md-4">
      <div th:if="${param.error}" class="alert alert-danger fade in" style="margin-top:18px;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        <strong>Oops! Something went wrong.</strong><br/> please check the email or password.
      </div>
      <form class="form-signin" action="/login" method = "POST">
        <h3>Returning Customer</h3>
        <h5>I am a returning customer</h5>
        <label>Email address:</label>
        <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="true"/>
        <label>Password:</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="required"/>
  <!--   <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"/> Remember me
        </label>
    </div> -->
        <button class="btn btn-lg  btn-block sigin" type="submit">SIGN IN</button>
        <div class="text-right forgot">
          <a href="#" data-toggle="modal" data-target="#forgotpassword">Forgot Password ?</a>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <div id="myCarousel" class="carousel slide p-none" data-ride="carousel">
    <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item"  th:each="post,postIndex:${loginPageSliderSection.cmsBlocks[0].cmsPostses}" th:classappend = "${postIndex.index==0}?'active':''">
            <a th:href="${post.url}" th:target="${post.urlTargetLocation}">
              <img th:src = "${post.cmsPostsImageses[0].imageLocation}" th:alt="${post.cmsPostsImageses[0].imageAlt}"/>
            </a>
        </div>
      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>  
  </div>  
</div>
</div>
<div class="modal fade" id="forgotpassword" tabindex="-1" >
  <div class="modal-dialog" style="width:45%;">
    <div class="modal-content">
      <div class="modal-header custom_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title caps tac"><strong>Forgot Password Request</strong></h4>
      </div>
      <div class="modal-body" style="height:250px;">
        <form name="forgot_form">
          <h5>Don't worry! Just fill email address and we will help you reset your password.</h5>
            <div class="form-group" ng-class="{'has-error':registerForm.emailId.$invalid &amp;&amp; !registerForm.emailId.$pristine}">
              <label>Email Address:</label>
              <input type="email" class="form-control br-none" placeholder="Email" ng-model="forgot.emailId" name="emailId" required="required" />
              <p ng-show="registerForm.emailId.$invalid &amp;&amp; !registerForm.emailId.$pristine" class="help-block">Enter a valid email address.</p>
            </div>
            <button type="submit" ng-click="getForgotPassword(forgot)" class="btn btn-danger br-none pull-right">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>