
<div class="header_bottom_1" th:classappend="${menuStatus}">
			<div class="container">
				<div class="col-lg-3 col-md-3 hidden-sm hidden-xs header_left_1">
					<ul>
						<li >
							<a href="products?search=mobiles">Deals &amp; Offers 
								
							</a>
						</li>
						<li class="deals_efct">
							<a href="products?search=mobiles">Mobile, Tablets &amp; Accessories 
								<span class="flaticon-right-arrow rit_arow"></span>
								<div class="hai">
									<div class="row">
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>MOBILES</h5>
												<ul>
													<li><a href="/products/category?category=mobiles">All Mobiles</a></li>
													<li><a href="/products/category?category=samsung">Samsung</a></li>
													<li><a href="/products/category?category=nokia">Nokia</a></li>
													<li><a href="/products/category?category=micromax">Micromax</a></li>
													<li><a href="/products/category?category=apple">Apple</a></li>
													<li><a href="/products/category?category=refurbished-mobile">Unboxed/Refurbished Phones</a></li>
												</ul>
											</div>
											<div class="side_menu_sub_div1">
												<h5>Mobile Accessories</h5>
												<ul>
													<li><a href="/products/category?category=smart-watches">Smart Watch</a></li>
													<li><a href="/products/category?category=sd-memory-cards">Micro SD Card</a></li>
													<li><a href="/products/category?category=power-banks">Power Banks</a></li>
													<!-- <li><a href="#">Accessories dor iphone</a></li>
													<li><a href="#">Tablet</a></li> -->
												</ul>
											</div>
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Tablets</h5>
												<ul>
													<li><a href="/products/category?category=tablet">All Tablets</a></li>
													<li><a href="/products/category?category=samsung">Samsung</a></li>
													<li><a href="/products/category?category=lenovo">Lenovo</a></li>
													<li><a href="/products/category?category=micromax">Micromax</a></li>
													<li><a href="/products/category?category=apple">Apple</a></li>
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Headphones And Headsets</h5>
												<ul>
													<li><a href="/products/category?category=headphones">Headphones</a></li>
													<li><a href="/products/category?category=bluetooth-headsets">Bluetooth Headsets</a></li>
													<li><a href="/products/category?category=headsets">Wired Headsets</a></li>
													<!-- <li><a href="#">Accessories dor iphone</a></li>
													<li><a href="#">Tablet</a></li> -->
												</ul>
											</div>	
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Car Mobile And Accessories</h5>
												<ul>
													<li><a href="/products/category?category=car-chargers">Car Charger</a></li>
													<li><a href="/products/category?category=car-kits">Car Kits</a></li>
													<li><a href="/products/category?category=carcardlesandmounts">Car Cardles And Mounts</a></li>
													<li><a href="/products/category?category=gps-navigation-devices">GPS Navigation Devices</a></li>
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Landline Phones</h5>
												<ul>
													<li><a href="/products/category?category=landline-phones">All Landline Phones</a></li>
												</ul>
											</div>	
										</div>
									</div>
								</div>
							</a>
						</li>
						<li class="deals_efct">
							<a href="products?search=mobiles">Laptops &amp; Peripherals 
								<span class="flaticon-right-arrow rit_arow"></span>
								<div class="hai">
									<div class="row">
											<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Laptops</h5>
												<ul>
													<li><a href="/products/category?category=laptops">All Laptops</a></li>
													<li><a href="/products/category?category=hp">HP</a></li>
													<li><a href="/products/category?category=dell">Dell</a></li>
													<li><a href="/products/category?category=lenovo">Lenovo</a></li>
													<li><a href="/products/category?category=sony">Sony</a></li>
												</ul>
											</div>
											<div class="side_menu_sub_div1">
												<h5>Accessories And Peripherals</h5>
												<ul>
													<li><a href="/products/category?category=computer-monitor">Monitor</a></li>
													<li><a href="/products/category?category=computer-mouse">Mouse</a></li>
													<li><a href="/products/category?category=computer-keyboard">Keyboards</a></li>
													<li><a href="/products/category?category=headphones">Headphones</a></li>
													<li><a href="/products/category?category=headsets">Computer Headsets</a></li> 
													<li><a href="/products/category?category=computer-speaker">Speakers</a></li> 
													<!-- <li><a href="/products/category?category=webcams">Webcams</a></li>  -->
												</ul>
											</div>
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Storage And Memory</h5>
												<ul>
													<li><a href="/products/category?category=computer-pendrive">Pen Drives</a></li>
													<li><a href="/products/category?category=computer-external-hard-disks">External Hard Disk</a></li>
													<li><a href="/products/category?category=external-ssd">SD Memory Cards</a></li>
													<li><a href="/products/category?category=sd-memory-cards">Micro SD Cards</a></li>
												<!-- 	<li><a href="/products/category?category=apple">Apple</a></li> -->
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Printers And Inks</h5>
												<ul>
													<li><a href="/products/category?category=computer-printer">Single Function Printers</a></li>
													<li><a href="/products/category?category=computer-multi-function">Multi-Function Printers</a></li>
													<li><a href="/products/category?category=computer-scanner">Scanners</a></li>
													<!-- <li><a href="#">Accessories dor iphone</a></li>
													<li><a href="#">Tablet</a></li> -->
												</ul>
											</div>	
											<div class="side_menu_sub_div1">
												<h5>Desktop And Components</h5>
												<ul>
													<li><a href="/products/category?category=desktop">Desktop</a></li>
													<li><a href="/products/category?category=internal-hard-disk">Internal Hard Drives</a></li>
												</ul>
											</div>

										</div>
										<div class="col-lg-4 col-md-4 sub_div_image1">
											<img src="home/images/lenovo-laptop-offers.png" class="img-responsive" />
										</div>
									</div>
								</div>
							</a>
						</li>
						<li class="deals_efct">
							<a href="products?search=mobiles">Men Fashion
								<span class="flaticon-right-arrow rit_arow"></span>
								<div class="hai">
									<div class="row">
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Footwear</h5>
												<ul>
													<li><a href="/products/category?category=sports-shoes-men">Sports Shoes</a></li>
													<li><a href="/products/category?category=casual-shoes-men">Casual Shoes</a></li>
													<li><a href="/products/category?category=formal-shoes-men">Formal Shoes</a></li>
													<li><a href="/products/category?category=sandals-shoes-men">Sandals And Floaters</a></li>
													<li><a href="/products/category?category=slippers-shoes-men">Slippers And Flipflops</a></li>
													<li><a href="/products/category?category=socks-men">socks</a></li>
												</ul>
											</div>
											<div class="side_menu_sub_div1">
												<h5>Innerwear And Sleepwear</h5>
												<ul>
													<li><a href="/products/category?category=briefs-men">Briefs</a></li>
													<li><a href="/products/category?category=trunks-men">Trunks</a></li>
													<li><a href="/products/category?category=boxers-men">Boxers</a></li>
													<li><a href="/products/category?category=nightsuits-men">Night Suits</a></li>
													<li><a href="/products/category?category=pyjamas-men">Pyjamas And Loungepants</a></li>
												</ul>
											</div>
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Clothing</h5>
												<ul>
													<li><a href="/products/category?category=tshirts-clothing-men">T-Shirts</a></li>
													<li><a href="/products/category?category=formal-shirts-clothing-men">Formal Shirts</a></li>
													<li><a href="/products/category?category=casual-shirts-clothing-men">Casual Shirts</a></li>
													<li><a href="/products/category?category=trousers-bottoms-clothing-men">Pants And Trousers</a></li>
													<li><a href="/products/category?category=jeans-bottoms-clothing-men">Jeans</a></li>
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Accessories</h5>
												<ul>
													<li><a href="/products/category?category=watches-men">Watches</a></li>
													<li><a href="/products/category?category=wallets">Wallets</a></li>
													<li><a href="/products/category?category=belts-accessories-men">Belts</a></li>
													<li><a href="/products/category?category=Sunglasses">Sunglasses</a></li>
													<li><a href="/products/category?category=rainwear-men">Rainwear</a></li>
													<li><a href="/products/category?category=caps-hats-men">Caps And Hats</a></li>
												</ul>
											</div>	
										</div>
										<div class="col-lg-4 col-md-4 sub_div_image1">
											<img src="home/images/img-static-megamenu-h.png" class="img-responsive" />
										</div>
									</div>
								</div>
							</a>
						</li>
						<li class="deals_efct"><a href="products?search=mobiles">Women Fashion
							<span class="flaticon-right-arrow rit_arow"></span>
								<div class="hai">
									<div class="row">
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Clothing</h5>
												<ul>
													<li><a href="/products/category?category=tops-clothing-women">Shirts,Tops And Tees</a></li>
													<li><a href="/products/category?category=dress-clothing-women">Dresses</a></li>
													<li><a href="/products/category?category=jeans-bottoms-clothing-women">Jeans</a></li>
													<li><a href="/products/category?category=trousers-bottoms-clothing-women">Trousers</a></li>
													<li><a href="/products/category?category=leggings-women">Leggins</a></li>
												</ul>
											</div>
											<div class="side_menu_sub_div1">
												<h5>Shoes</h5>
												<ul>
													<li><a href="/products/category?category=sandals-casual-shoes-women">Sandals</a></li>
													<li><a href="/products/category?category=heels-shoes-women">Heels</a></li>
													<li><a href="/products/category?category=sneakers-women">Sneakers</a></li>
													<li><a href="/products/category?category=flats-shoes-women">Flats</a></li>
												<!-- 	<li><a href="/products/category?category=leggins">Tablet</a></li> -->
												</ul>
											</div>
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Ethnic Clothing</h5>
												<ul>
													<li><a href="/products/category?category=sarees-ethnic-women">Sarees</a></li>
													<li><a href="/products/category?category=suits-ethnic-women">Suit Sets</a></li>
													<li><a href="/products/category?category=kurta-ethnic-women">Kurtas And Kurtis</a></li>
										<li><a href="/products/category?category=salwars-churidars-women">Salwars And Churidars</a></li>
													<!-- <li><a href="/products/category?category=sandals">Tablet</a></li> -->
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Linger And Sleepwear</h5>
												<ul>
													<li><a href="/products/category?category=bras-lingerie-clothing-women">Bras</a></li>
													<li><a href="/products/category?category=panties-lingerie-clothing-women">Panties</a></li>
													<li><a href="/products/category?category=night-dresses-women">Night Dresses</a></li>
													<li><a href="/products/category?category=nightwear-lingerie-clothing-women">Night Suits</a></li>
													<!-- <li><a href="/products/category?category=salwars">Tablet</a></li> -->
												</ul>
											</div>	
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Bags</h5>
												<ul>
													<li><a href="/products/category?category=handbag-bags-women">Handbags</a></li>
													<li><a href="/products/category?category=wallets-women">Wallets</a></li>
													<li><a href="/products/category?category=clutches-women">Clutches</a></li>
													<li><a href="/products/category?category=slingbags-bags-women">Sling And CrossBodybags</a></li>
													<!-- <li><a href="/products/category?category=nightdresses">Tablet</a></li> -->
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Accessories</h5>
												<ul>
													<li><a href="/products/category?category=watches-women">Watches</a></li>
													<li><a href="/products/category?category=sunglasses-accessories-women">Sunglasses</a></li>
													<li><a href="/products/category?category=belts-accessories-women">Belts</a></li>
													<li><a href="/products/category?category=stoles-scarves-women">Stoles And Scarves</a></li>
													<li><a href="/products/category?category=hair-accessories-women">Hair Accessories</a></li>
												</ul>
											</div>	
										</div>
									</div>
								</div>
						</a></li>
						<li class="deals_efct">
							<a href="products?search=mobiles">Home Decor &amp; Kitchen 
								<span class="flaticon-right-arrow rit_arow"></span>
								<div class="hai">
									<div class="row">
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Decor</h5>
												<ul>
													<li><a href="/products/category?category=clocks-decor">Clocks</a></li>
													<li><a href="/products/category?category=paintings-and-wall-art-decor">Paintings And Wall Art</a></li>
													<li><a href="/products/category?category=candle-fragrance-decor">Candles And Fragrances</a></li>
													<li><a href="/products/category?category=garden-and-outdoor-decor-home-decor">Outdoor Decor</a></li>
													<li><a href="/products/category?category=decoratives-decor">Showpieces And Decoratives</a></li>
												</ul>
											</div>
											<div class="side_menu_sub_div1">
												<h5>Kitchen Appliances</h5>
												<ul>
													<li><a href="/products/category?category=coffee-makers">Coffee Makers</a></li>
													<li><a href="/products/category?category=electric-cookers">Electric Cookers</a></li>
												 <li><a href="/products/category?category=mixers">Mixers</a></li>
													<li><a href="/products/category?category=electric-kettles">Electric Kettles</a></li> 
													<li><a href="/products/category?category=microwave-oven">Microwave Ovens</a></li>
												</ul>
											</div>
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Furnitures</h5>
												<ul>
													<li><a href="/products/category?category=dining-furniture">Dining Table</a></li>
													<li><a href="/products/category?category=sofa-living-room-furniture-home-decor">Sofa And Sets</a></li>
													<li><a href="/products/category?category=bedroom-furniture">Bed And Bedsides</a></li>
													<li><a href="/products/category?category=seatings-living-room-furniture-home-decor">Seating And Chairs</a></li>
													<li><a href="/products/category?category=shoe-racks-cabinets-wardrobes-furniture-home-decor">Shoe Racks</a></li>
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Heaters,Fans And Coolers</h5>
												<ul>
													<li><a href="/products/category?category=fans">Fans</a></li>
													<li><a href="/products/category?category=room-heaters">Room Heaters</a></li>
													<li><a href="/products/category?category=air-coolers">Air Coolers</a></li>
													<li><a href="/products/category?category=immersion-rods">Immersion Rods</a></li>
													<!-- <li><a href="/products/category?category=shoeracks">Tablet</a></li> -->
												</ul>
											</div>	
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Home Linen</h5>
												<ul>
													<li><a href="/products/category?category=bedsheets-bed-linen-bed-bath-home-decor">Bedsheets And Sets</a></li>
													<li><a href="/products/category?category=towels-bath-essentials-bed-bath-home-decor">Towels</a></li>
													<li><a href="/products/category?category=curtains-cushions-decor">Curtains And Cushions</a></li>
													<li><a href="/products/category?category=carpets-rugs-decor">Carpets</a></li>
													<li><a href="/products/category?category=pillows-mattresses">pillows</a></li>
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Home Appliances</h5>
												<ul>
													<li><a href="/products/category?category=irons">Irons</a></li>
													<li><a href="/products/category?category=vacuum-cleaners">Vaccum Cleaners</a></li>
													<li><a href="/products/category?category=washing-machines">Washing Machines</a></li>
													<li><a href="/products/category?category=refrigerators">Refrigerators</a></li>
													<li><a href="/products/category?category=power-supplies">Ups</a></li>
												</ul>
											</div>	
										</div>
									</div>
								</div>
							</a>
						</li>
						<li class="deals_efct"><a href="products?search=mobiles">Tv's,Cameras &amp; Accessories
							<span class="flaticon-right-arrow rit_arow"></span>
								<div class="hai">
									<div class="row">
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>LED AND LCD TV</h5>
												<ul>
													<li><a href="/products/category?category=tv">All LED And LCD Tvs</a></li>
													<li><a href="/products/category?category=samsungtv">Samsung</a></li>
													<li><a href="/products/category?category=sonyledtv">Sony</a></li>
													<li><a href="/products/category?category=lglcdtv">LG</a></li>
													<li><a href="/products/category?category=toshibatv">Toshiba</a></li>
												</ul>
											</div>
											<div class="side_menu_sub_div1">
												<h5>Headphone And Memory</h5>
												<ul>
													<li><a href="/products/category?category=headphones">Headphones</a></li>
													<li><a href="/products/category?category=headsets">Headsets</a></li>
													<li><a href="/products/category?category=bluetooth-headsets">Bluetooth Headsets</a></li>
													<li><a href="/products/category?category=sd-memory-cards">SD Memory Cards</a></li>
													<li><a href="/products/category?category=memory-cards">Micro SD Memory Cards</a></li>
												</ul>
											</div>
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Music And Home Theater</h5>
												<ul>
													<li><a href="/products/category?category=appleipods">Apple Ipods</a></li>
													<li><a href="/products/category?category=mp3players">MP3 Players</a></li>
													<li><a href="/products/category?category=hometheaters">Home Theaters</a></li>
													<li><a href="/products/category?category=dvdplayers">Video And DVD Players</a></li>
													<li><a href="/products/category?category=gamingconsole">Gaming Console</a></li>
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Cameras,DSLRS And More</h5>
												<ul>
													<li><a href="/products/category?category=digital-camera">Digital Cameras</a></li>
													<li><a href="/products/category?category=digital-slr-camera">Digital SLR Cameras</a></li>
													<li><a href="/products/category?category=camcorder">Camecorders</a></li>
													<li><a href="/products/category?category=digital-photo-frames">Digital Photo Frames</a></li>
													<li><a href="/products/category?category=binoculars">Binoculars</a></li>
												</ul>
											</div>	
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Cameras Accessories</h5>
												<ul>
													<li><a href="/products/category?category=sd-memory-cards">SD Memory Cards</a></li>
													<li><a href="/products/category?category=flashes">Camera Flashes</a></li>
													<li><a href="/products/category?category=battery-chargers">Battery Chargers</a></li>
													<li><a href="/products/category?category=camera-screen-protectors">Camera Screen Protectors</a></li>
													<li><a href="/products/category?category=camera-remote-controls">Camera Remote Controls</a></li>
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Lenses And Lens Accessories</h5>
												<ul>
													<li><a href="/products/category?category=lenses">Camera Lenses</a></li>
													<li><a href="/products/category?category=filters">Lens Filters</a></li>
													<li><a href="/products/category?category=lens-hoods">Lens Hoods</a></li>
													<li><a href="/products/category?category=lens-cleaner">lens Cleaner And kit</a></li>
													<li><a href="/products/category?category=lens-cap">Lens Caps</a></li>
												</ul>
											</div>	
										</div>
									</div>
								</div>
						</a></li>
						<li class="deals_efct"><a href="products?search=mobiles">baby &amp; Kids
							<span class="flaticon-right-arrow rit_arow"></span>
								<div class="hai">
									<div class="row">
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Clothing</h5>
												<ul>
													<li><a href="/products/category?category=tshirts-boys-clothing-kids">Boys Tshirts</a></li>
													<li><a href="/products/category?category=tops-kids">Girls Tops And Tshirts</a></li>
													<li><a href="/products/category?category=jeans-trousers-boys-clothing-kids">Boys Jeans</a></li>
													<li><a href="/products/category?category=shorts-kids">Girls Jeans</a></li>
													<li><a href="/products/category?category=frocks-kids">Girls Frocks</a></li>
												</ul>
											</div>
											<div class="side_menu_sub_div1">
												<h5>Footwear</h5>
												<ul>
													<li><a href="/products/category?category=casual-shoes-boys-kids">Boys Casual Shoes</a></li>
													<li><a href="/products/category?category=casual-shoes-girls-kids">Girls Casual Shoes</a></li>
													<li><a href="/products/category?category=sandals-boys-kids">Boys Sandals</a></li>
													<li><a href="/products/category?category=school-shoes-boys-kids">Boys School Shoes</a></li>
													<li><a href="/products/category?category=school-shoes-girls-kids">Girls School Shoes</a></li>
												</ul>
											</div>
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Stationery</h5>
												<ul>
													<li><a href="/products/category?category=school-bags-kids">School Bags</a></li>
													<li><a href="/products/category?category=lunchbox-water-bottles-kids">Lunch Box</a></li>
													<li><a href="/products/category?category=lunchbox-water-bottles-kids">Water Bottels</a></li>
													<li><a href="/products/category?category=art-craft-kids">Air Craft</a></li>
													<li><a href="/products/category?category=books-cds-kids">Books</a></li>
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Toys</h5>
												<ul>
													<li><a href="/products/category?category=remote-control-toys-kids">Remote Controlled Toys</a></li>
													<li><a href="/products/category?category=soft-toys-kids">soft Toys</a></li>
													<li><a href="/products/category?category=action-games-kids">Action Games</a></li>
													<li><a href="/products/category?category=board-games-kids">Board Games</a></li>
													<li><a href="/products/category?category=guns-kids">Guns</a></li>
												</ul>
											</div>	
										</div>
										<div class="col-lg-4 col-md-4 sub_div_image1">
											<img src="home/images/gap-kids-clothes-online-25.png" class="img-responsive" />
										</div>
										<!-- <div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Baby And Diapering</h5>
												<ul>
													<li><a href="/products/category?category=babytops">Baby Tops And Tees</a></li>
													<li><a href="/products/category?category=babywalkers">Baby Walkers</a></li>
													<li><a href="/products/category?category=diapers">Cloth Diapers</a></li>
												 <li><a href="/products/category?category=stackinggames">Accessories dor iphone</a></li>
													<li><a href="/products/category?category=stackinggames">Tablet</a></li> 
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>APPAREL</h5>
												<ul>
													<li><a href="#">Automotive</a></li>
													<li><a href="#">Accessories for Tablet PC</a></li>
													<li><a href="#">Accessories for Ipad</a></li>
													<li><a href="#">Accessories dor iphone</a></li>
													<li><a href="#">Tablet</a></li>
												</ul>
											</div>	
										</div> -->
									</div>
								</div>
						</a></li>
						<li class="deals_efct"><a href="products?search=mobiles">Personal &amp; Health Devices
							<span class="flaticon-right-arrow rit_arow"></span>
								<div class="hai">
									<div class="row">
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Personal Care Products</h5>
												<ul>
													<li><a href="/products/category?category=shavers">Electric Shaver</a></li>
													<li><a href="/products/category?category=trimmers">Trimmer</a></li>
													<li><a href="/products/category?category=hair-dryers">Hair Dryers</a></li>
													<li><a href="/products/category?category=hair-curlers">Hair Curlers</a></li>
													<li><a href="/products/category?category=hair-stylers">Hair Styler</a></li>
												</ul>
											</div>
											<div class="side_menu_sub_div1">
												<h5>Health Care Products</h5>
												<ul>
													<li><a href="/products/category?category=bp-monitors">BP Monitors</a></li>
													<li><a href="/products/category?category=digital-thermometers">Digital Thermo Meters</a></li>
													<li><a href="/products/category?category=heat-therapy">Heat Therapy</a></li>
													<li><a href="/products/category?category=pedometer-step-counters">pedometer</a></li>
													<li><a href="/products/category?category=body-fat-monitors">Boby Fat Monitor</a></li>
												</ul>
											</div>
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Fragrance</h5>
												<ul>
													<li><a href="/products/category?category=women-deos">Women Does</a></li>
													<li><a href="/products/category?category=women-perfumes">Women Perfurmes</a></li>
													<li><a href="/products/category?category=men-deos">Men Does</a></li>
													<li><a href="/products/category?category=men-perfumes">Men Perfurmes</a></li>
													 <li><a href="/products/category?category=eye-liner">Eye Liner</a></li> 
												</ul>
											</div>
											<div class="side_menu_sub_div1">
												<h5>Nails</h5>
												<ul>
													<li><a href="/products/category?category=nail-polish">Nail Polish</a></li>
													<li><a href="/products/category?category=nail-effects">Nail Effects</a></li>
													<li><a href="/products/category?category=nail-polish-remover">Nail polish Remover</a></li>
													<li><a href="/products/category?category=face-concealer">Face concealer</a></li>
												 <li><a href="/products/category?category=eye-shadows">Eye Shadows</a></li> 
												</ul>
											</div>	
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Lips</h5>
												<ul>
													<li><a href="/products/category?category=lipstick">Lipsticks</a></li>
													<li><a href="/products/category?category=lip-balms">Lip Balms</a></li>
													<li><a href="/products/category?category=lip-gloss">Lip Gloss</a></li>
													<li><a href="/products/category?category=lip-liners">Lip Liners</a></li>
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Face</h5>
												<ul>
													<li><a href="/products/category?category=razors">Razors</a></li>
													<li><a href="/products/category?category=shaving-brushes">Shaving Brushes</a></li>
													<li><a href="/products/category?category=after-shaves">After Shaves</a></li>
													<li><a href="/products/category?category=shaving-foam-cream-and-gel">Cream gels</a></li>
													<li><a href="/products/category?category=cartridges-and-blades">Cartridges And Blades</a></li>
												</ul>
											</div>	
										</div>
									</div>
								</div>
						</a></li>
						<li><a href="products?search=mobiles">Coupons &amp; Discounts</a></li>
					</ul>
				</div>
			</div>
		</div>