
<div class="header_bottom_1" th:classappend="${menuStatus}">
			<div class="container">
				<div class="col-lg-3 col-md-3 hidden-sm hidden-xs header_left_1">
					<ul>
						<li >
							<a href="products?search=mobiles">Deals &amp; Offers 
								
							</a>
						</li>
						<li class="deals_efct">
							<a href="products?search=mobiles">Mobile, Tablets &amp; Accessories 
								<span class="flaticon-right-arrow rit_arow"></span>
								<div class="hai">
									<div class="row">
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>MOBILES</h5>
												<ul>
													<li><a href="/products/category?category=mobiles">All Mobiles</a></li>
													<li><a href="/products/category?category=samsung">Samsung</a></li>
													<li><a href="/products/category?category=nokia">Nokia</a></li>
													<li><a href="/products/category?category=micromax">Micromax</a></li>
													<li><a href="/products/category?category=apple">Apple</a></li>
													<li><a href="/products/category?category=refurbishedphones">Unboxed/Refurbished Phones</a></li>
												</ul>
											</div>
											<div class="side_menu_sub_div1">
												<h5>Mobile Accessories</h5>
												<ul>
													<li><a href="/products/category?category=smartwatch">Smart Watch</a></li>
													<li><a href="/products/category?category=sdcard">Micro SD Card</a></li>
													<li><a href="/products/category?category=powerbanks">Power Banks</a></li>
													<!-- <li><a href="#">Accessories dor iphone</a></li>
													<li><a href="#">Tablet</a></li> -->
												</ul>
											</div>
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Tablets</h5>
												<ul>
													<li><a href="/products/category?category=tablets">All Tablets</a></li>
													<li><a href="/products/category?category=samsung">Samsung</a></li>
													<li><a href="/products/category?category=lenovo">Lenovo</a></li>
													<li><a href="/products/category?category=micromax">Micromax</a></li>
													<li><a href="/products/category?category=apple">Apple</a></li>
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Headphones And Headsets</h5>
												<ul>
													<li><a href="/products/category?category=headphones">Headphones</a></li>
													<li><a href="/products/category?category=bluetoothheadsets">Bluetooth Headsets</a></li>
													<li><a href="/products/category?category=headsets">Wired Headsets</a></li>
													<!-- <li><a href="#">Accessories dor iphone</a></li>
													<li><a href="#">Tablet</a></li> -->
												</ul>
											</div>	
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Car Mobile And Accessories</h5>
												<ul>
													<li><a href="/products/category?category=carcharger">Car Charger</a></li>
													<li><a href="/products/category?category=carkits">Car Kits</a></li>
													<li><a href="/products/category?category=carcardlesandmounts">Car Cardles And Mounts</a></li>
													<li><a href="/products/category?category=cargpsnavigation">GPS Navigation Devices</a></li>
													<!-- <li><a href="#">Tablet</a></li> -->
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Landline Phones</h5>
												<ul>
													<li><a href="/products/category?category=landlinephones">All Landline Phones</a></li>
													<!-- <li><a href="#">Accessories for Tablet PC</a></li>
													<li><a href="#">Accessories for Ipad</a></li>
													<li><a href="#">Accessories dor iphone</a></li>
													<li><a href="#">Tablet</a></li> -->
												</ul>
											</div>	
										</div>
									</div>
								</div>
							</a>
						</li>
						<li class="deals_efct">
							<a href="products?search=mobiles">Laptops &amp; Peripherals 
								<span class="flaticon-right-arrow rit_arow"></span>
								<div class="hai">
									<div class="row">
											<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Laptops</h5>
												<ul>
													<li><a href="/products/category?category=laptops">All Laptops</a></li>
													<li><a href="/products/category?category=hp">HP</a></li>
													<li><a href="/products/category?category=dell">Dell</a></li>
													<li><a href="/products/category?category=lenovo">Lenovo</a></li>
													<li><a href="/products/category?category=sony">Sony</a></li>
													<!-- <li><a href="/products/category?category=refurbishedphones">Unboxed/Refurbished Phones</a></li> -->
												</ul>
											</div>
											<div class="side_menu_sub_div1">
												<h5>Accessories And Peripherals</h5>
												<ul>
													<li><a href="/products/category?category=monitor">Monitor</a></li>
													<li><a href="/products/category?category=mouse">Mouse</a></li>
													<li><a href="/products/category?category=keyboards">Keyboards</a></li>
													<li><a href="/products/category?category=headphones">Headphones</a></li>
													<li><a href="/products/category?category=headsets">Computer Headsets</a></li> 
													<li><a href="/products/category?category=speakers">Speakers</a></li> 
													<!-- <li><a href="/products/category?category=webcams">Webcams</a></li>  -->
												</ul>
											</div>
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Storage And Memory</h5>
												<ul>
													<li><a href="/products/category?category=pendrives">Pen Drives</a></li>
													<li><a href="/products/category?category=harddisk">External Hard Disk</a></li>
													<li><a href="/products/category?category=memorycards">SD Memory Cards</a></li>
													<li><a href="/products/category?category=sdcards">Micro SD Cards</a></li>
												<!-- 	<li><a href="/products/category?category=apple">Apple</a></li> -->
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Printers And Links</h5>
												<ul>
													<li><a href="/products/category?category=printers">Single Function Printers</a></li>
													<li><a href="/products/category?category=printers">Multi-Function Printers</a></li>
													<li><a href="/products/category?category=scanners">Scanners</a></li>
													<!-- <li><a href="#">Accessories dor iphone</a></li>
													<li><a href="#">Tablet</a></li> -->
												</ul>
											</div>	
											<div class="side_menu_sub_div1">
												<h5>Desktop And Components</h5>
												<ul>
													<li><a href="/products/category?category=desktop">Desktop</a></li>
													<li><a href="/products/category?category=drives">Internal Hard Drives</a></li>
												</ul>
											</div>

										</div>
										<div class="col-lg-4 col-md-4 sub_div_image1">
											<img src="home/images/lenovo-laptop-offers.png" class="img-responsive" />
										</div>
										<!-- <div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Desktop And Components</h5>
												<ul>
													<li><a href="/products/category?category=desktop">Desktop</a></li>
													<li><a href="/products/category?category=drives">Internal Hard Drives</a></li>
												 <li><a href="/products/category?category=carcardlesandmounts">Car Cardles And Mounts</a></li>
													<li><a href="/products/category?category=cargpsnavigation">GPS Navigation Devices</a></li>
													 <li><a href="#">Tablet</a></li>
												</ul>
												
											</div> -->
											<!-- <div class="side_menu_sub_div1">
												<h5>Landline Phones</h5>
												<ul>
													<li><a href="/products/category?category=landlinephones">All Landline Phones</a></li>
												 <li><a href="#">Accessories for Tablet PC</a></li>
													<li><a href="#">Accessories for Ipad</a></li>
													<li><a href="#">Accessories dor iphone</a></li>
													<li><a href="#">Tablet</a></li> 
												</ul>
											</div>	 -->
										<!-- </div>	 -->
									</div>
								</div>
							</a>
						</li>
						<li class="deals_efct">
							<a href="products?search=mobiles">Men Fashion
								<span class="flaticon-right-arrow rit_arow"></span>
								<div class="hai">
									<div class="row">
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Footwear</h5>
												<ul>
													<li><a href="/products/category?category=shoes">Sports Shoes</a></li>
													<li><a href="/products/category?category=shoes">Casual Shoes</a></li>
													<li><a href="/products/category?category=formalshoes">Formal Shoes</a></li>
													<li><a href="/products/category?category=sandals">Sandals And Floaters</a></li>
													<li><a href="/products/category?category=slippers">Slippers And Flipflops</a></li>
													<li><a href="/products/category?category=socks">Socks</a></li>
												</ul>
											</div>
											<div class="side_menu_sub_div1">
												<h5>Innerwear And Sleepwear</h5>
												<ul>
													<li><a href="/products/category?category=briefs">Briefs</a></li>
													<li><a href="/products/category?category=trunks">Trunks</a></li>
													<li><a href="/products/category?category=boxers">Boxers</a></li>
													<li><a href="/products/category?category=vests">Vests</a></li>
													<li><a href="/products/category?category=pyjamas">Pyjamas And Loungepants</a></li>
												</ul>
											</div>
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Clothing</h5>
												<ul>
													<li><a href="/products/category?category=tshirts">T-Shirts</a></li>
													<li><a href="/products/category?category=shirts">Formal Shirts</a></li>
													<li><a href="/products/category?category=shirts">Casual Shirts</a></li>
													<li><a href="/products/category?category=trousers">Pants And Trousers</a></li>
													<li><a href="/products/category?category=jeans">Jeans</a></li>
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Accessories</h5>
												<ul>
													<li><a href="/products/category?category=watches">Watches</a></li>
													<li><a href="/products/category?category=wallets">Wallets</a></li>
													<li><a href="/products/category?category=belts">Belts</a></li>
													<li><a href="/products/category?category=sunglasses">Sunglasses</a></li>
													<li><a href="/products/category?category=backpacks">Backpacks</a></li>
													<li><a href="/products/category?category=hats">Caps And Hats</a></li>
												</ul>
											</div>	
										</div>
										<div class="col-lg-4 col-md-4 sub_div_image1">
											<img src="home/images/img-static-megamenu-h.png" class="img-responsive" />
										</div>
									</div>
								</div>
							</a></li>
						<li class="deals_efct"><a href="products?search=mobiles">Women Fashion
							<span class="flaticon-right-arrow rit_arow"></span>
								<div class="hai">
									<div class="row">
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Clothing</h5>
												<ul>
										<li><a href="/products/category?category=tops">Shirts,Tops And Tees</a></li>
										<li><a href="/products/category?category=dressmaterials">Dresses</a></li>
										<li><a href="/products/category?category=jeans">Jeans</a></li>
										<li><a href="/products/category?category=tousers">Trousers</a></li>
										<li><a href="/products/category?category=leggins">Leggins</a></li>
												</ul>
											</div>
											<div class="side_menu_sub_div1">
												<h5>Shoes</h5>
												<ul>
													<li><a href="/products/category?category=sandals">Sandals</a></li>
													<li><a href="/products/category?category=heels">Heels</a></li>
													<li><a href="/products/category?category=platforms">Platforms And Wedges</a></li>
													<li><a href="/products/category?category=flats">Flats</a></li>
												<!-- 	<li><a href="/products/category?category=leggins">Tablet</a></li> -->
												</ul>
											</div>
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Ethnic Clothing</h5>
												<ul>
													<li><a href="/products/category?category=womenethnicsarees">Sarees</a></li>
													<li><a href="/products/category?category=suitset">Suit Sets</a></li>
													<li><a href="/products/category?category=kurtis">Kurtas And Kurtis</a></li>
										<li><a href="/products/category?category=salwars">Salwars And Churidars</a></li>
													<!-- <li><a href="/products/category?category=sandals">Tablet</a></li> -->
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Linger And Sleepwear</h5>
												<ul>
													<li><a href="/products/category?category=bras">Bras</a></li>
													<li><a href="/products/category?category=panties">Panties</a></li>
													<li><a href="/products/category?category=bras">Sports Bra</a></li>
													<li><a href="/products/category?category=nightdresses">Night Dresses</a></li>
													<!-- <li><a href="/products/category?category=salwars">Tablet</a></li> -->
												</ul>
											</div>	
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Bags</h5>
												<ul>
													<li><a href="/products/category?category=handbags">Handbags</a></li>
													<li><a href="/products/category?category=wallets">Wallets</a></li>
													<li><a href="/products/category?category=clutches">Clutches</a></li>
													<li><a href="/products/category?category=crossbags">Sling And CrossBodybags</a></li>
													<!-- <li><a href="/products/category?category=nightdresses">Tablet</a></li> -->
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Accessories</h5>
												<ul>
													<li><a href="/products/category?category=watches">Watches</a></li>
													<li><a href="/products/category?category=sunglasses">Sunglasses</a></li>
													<li><a href="/products/category?category=belts">Belts</a></li>
													<li><a href="/products/category?category=scarves">Stoles And Scarves</a></li>
													<li><a href="/products/category?category=earrings">Earrings</a></li>
												</ul>
											</div>	
										</div>
									</div>
								</div>
						</a></li>
						<li class="deals_efct">
							<a href="products?search=mobiles">Home Decor &amp; Kitchen 
								<span class="flaticon-right-arrow rit_arow"></span>
								<div class="hai">
									<div class="row">
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Decor</h5>
												<ul>
													<li><a href="/products/category?category=clocks">Clocks</a></li>
													<li><a href="/products/category?category=wallart">Paintings And Wall Art</a></li>
													<li><a href="/products/category?category=candles">Candles And Fragrances</a></li>
													<li><a href="/products/category?category=Lamps">Lighting And Lamps</a></li>
													<li><a href="/products/category?category=decoratives">Showpieces And Decoratives</a></li>
												</ul>
											</div>
											<div class="side_menu_sub_div1">
												<h5>Kitchen Appliances</h5>
												<ul>
													<li><a href="/products/category?category=coffeemaker">Coffee Makers</a></li>
													<li><a href="/products/category?category=electriccookers">Electric Cookers</a></li>
												 <li><a href="/products/category?category=grinders">Grinders</a></li>
													<li><a href="/products/category?category=electrickittles">Electric Kettles</a></li> 
													<li><a href="/products/category?category=ovens">Microwave Ovens</a></li>
												</ul>
											</div>
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Furnitures</h5>
												<ul>
													<li><a href="/products/category?category=diningtable">Dining Table</a></li>
													<li><a href="/products/category?category=sofaset">Sofa And Sets</a></li>
													<li><a href="/products/category?category=Bed">Bed And Bedsides</a></li>
													<li><a href="/products/category?category=chairs">Seating And Chairs</a></li>
													<li><a href="/products/category?category=shoeracks">Shoe Racks</a></li>
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Heaters,Fans And Coolers</h5>
												<ul>
													<li><a href="/products/category?category=fans">Fans</a></li>
													<li><a href="/products/category?category=heaters">Room Heaters</a></li>
													<li><a href="/products/category?category=aircoolers">Air Coolers</a></li>
													<li><a href="/products/category?category=immersionrods">Immersion Rods</a></li>
													<!-- <li><a href="/products/category?category=shoeracks">Tablet</a></li> -->
												</ul>
											</div>	
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Home Linen</h5>
												<ul>
													<li><a href="/products/category?category=bedsheets">Bedsheets And Sets</a></li>
													<li><a href="/products/category?category=towels">Towels</a></li>
													<li><a href="/products/category?category=curtains">Curtains And Cushions</a></li>
													<li><a href="/products/category?category=carpets">Carpets</a></li>
													<li><a href="/products/category?category=mats">Mats</a></li>
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Home Appliances</h5>
												<ul>
													<li><a href="/products/category?category=ironboxe">Irons</a></li>
													<li><a href="/products/category?category=vaccumcleaners">Vaccum Cleaners</a></li>
													<li><a href="/products/category?category=wachingmeachine">Waching Machines</a></li>
													<li><a href="/products/category?category=refrigerators">Refrigerators</a></li>
													<li><a href="/products/category?category=ups">Ups</a></li>
												</ul>
											</div>	
										</div>
									</div>
								</div>
							</a>
						</li>
						<li class="deals_efct"><a href="products?search=mobiles">Tv's,Cameras &amp; Accessories
							<span class="flaticon-right-arrow rit_arow"></span>
								<div class="hai">
									<div class="row">
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>LED AND LCD TV</h5>
												<ul>
													<li><a href="/products/category?category=ledtv">All LED And LCD Tvs</a></li>
													<li><a href="/products/category?category=samsungtv">Samsung</a></li>
													<li><a href="/products/category?category=sonyledtv">Sony</a></li>
													<li><a href="/products/category?category=lglcdtv">LG</a></li>
													<li><a href="/products/category?category=toshibatv">Toshiba</a></li>
												</ul>
											</div>
											<div class="side_menu_sub_div1">
												<h5>Headphone And Memory</h5>
												<ul>
													<li><a href="/products/category?category=headphones">Headphones</a></li>
													<li><a href="/products/category?category=headsets">Headsets</a></li>
													<li><a href="/products/category?category=bluetoothheadset">Bluetooth Headsets</a></li>
													<li><a href="/products/category?category=memorycards">SD Memory Cards</a></li>
													<li><a href="/products/category?category=memorycards">Micro SD Memory Cards</a></li>
												</ul>
											</div>
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Music And Home Theater</h5>
												<ul>
													<li><a href="/products/category?category=appleipods">Apple Ipods</a></li>
													<li><a href="/products/category?category=mp3players">MP3 Players</a></li>
													<li><a href="/products/category?category=hometheaters">Home Theaters</a></li>
													<li><a href="/products/category?category=dvdplayers">Video And DVD Players</a></li>
													<li><a href="/products/category?category=gamingconsole">Gaming Console</a></li>
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Cameras,DSLRS And More</h5>
												<ul>
													<li><a href="/products/category?category=cameras">Digital Cameras</a></li>
													<li><a href="/products/category?category=cameras">Digital SLR Cameras</a></li>
													<li><a href="/products/category?category=camecorders">Camecorders</a></li>
													<li><a href="/products/category?category=digitalphotoframe">Digital Photo Frames</a></li>
													<li><a href="/products/category?category=binoculars">Binoculars</a></li>
												</ul>
											</div>	
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Cameras Accessories</h5>
												<ul>
													<li><a href="/products/category?category=Memorycards">SD Memory Cards</a></li>
													<li><a href="/products/category?category=cameraflashes">Camera Flashes</a></li>
													<li><a href="/products/category?category=batterychargers">Battery Chargers</a></li>
													<li><a href="/products/category?category=screenprotector">Camera Screen Protectors</a></li>
													<li><a href="/products/category?category=remotecontrols">Camera Remote Controls</a></li>
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Lenses And Lens Accessories</h5>
												<ul>
													<li><a href="/products/category?category=cameralenses">Camera Lenses</a></li>
													<li><a href="/products/category?category=lensfilters">Lens Filters</a></li>
													<li><a href="/products/category?category=lenshoods">Lens Hoods</a></li>
													<li><a href="/products/category?category=leanscleanerkit">lens Cleaner And kit</a></li>
													<li><a href="/products/category?category=lenstubes">Lens Tubes</a></li>
												</ul>
											</div>	
										</div>
									</div>
								</div>
						</a></li>
						<li class="deals_efct"><a href="products?search=mobiles">baby &amp; Kids
							<span class="flaticon-right-arrow rit_arow"></span>
								<div class="hai">
									<div class="row">
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Clothing</h5>
												<ul>
													<li><a href="/products/category?category=tshirts">Boys Tshirts</a></li>
													<li><a href="/products/category?category=tops">Girls Tops And Tshirts</a></li>
													<li><a href="/products/category?category=jeans">Boys Jeans</a></li>
													<li><a href="/products/category?category=jeans">Girls Jeans</a></li>
													<li><a href="/products/category?category=frocks">Girls Frocks</a></li>
												</ul>
											</div>
											<div class="side_menu_sub_div1">
												<h5>Footwear</h5>
												<ul>
													<li><a href="/products/category?category=boyscasualshoes">Boys Casual Shoes</a></li>
													<li><a href="/products/category?category=girlscasualshoes">Girls Casual Shoes</a></li>
													<li><a href="/products/category?category=boyssandals">Boys Sandals</a></li>
													<li><a href="/products/category?category=schoolshoes">Boys School Shoes</a></li>
													<li><a href="/products/category?category=schoolshoes">Girls School Shoes</a></li>
												</ul>
											</div>
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Stationery</h5>
												<ul>
													<li><a href="/products/category?category=bags">School Bags</a></li>
													<li><a href="/products/category?category=luchbox">Lunch Box</a></li>
													<li><a href="/products/category?category=waterbottels">Water Bottels</a></li>
													<li><a href="/products/category?category=writingtable">Writng table</a></li>
													<li><a href="/products/category?category=pencilbox">pencilebox</a></li>
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Toys</h5>
												<ul>
													<li><a href="/products/category?category=infantplaygyms">Infant PlayGyms</a></li>
													<li><a href="/products/category?category=toys">soft Toys</a></li>
													<li><a href="/products/category?category=actiongametoys">Action Games And Figures</a></li>
													<li><a href="/products/category?category=boardgames">Board Games</a></li>
													<li><a href="/products/category?category=stackinggames">Stacking Games</a></li>
												</ul>
											</div>	
										</div>
										<div class="col-lg-4 col-md-4 sub_div_image1">
											<img src="home/images/gap-kids-clothes-online-25.png" class="img-responsive" />
										</div>
										<!-- <div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Baby And Diapering</h5>
												<ul>
													<li><a href="/products/category?category=babytops">Baby Tops And Tees</a></li>
													<li><a href="/products/category?category=babywalkers">Baby Walkers</a></li>
													<li><a href="/products/category?category=diapers">Cloth Diapers</a></li>
												 <li><a href="/products/category?category=stackinggames">Accessories dor iphone</a></li>
													<li><a href="/products/category?category=stackinggames">Tablet</a></li> 
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>APPAREL</h5>
												<ul>
													<li><a href="#">Automotive</a></li>
													<li><a href="#">Accessories for Tablet PC</a></li>
													<li><a href="#">Accessories for Ipad</a></li>
													<li><a href="#">Accessories dor iphone</a></li>
													<li><a href="#">Tablet</a></li>
												</ul>
											</div>	
										</div> -->
									</div>
								</div>
						</a></li>
						<li class="deals_efct"><a href="products?search=mobiles">Personal &amp; Health Devices
							<span class="flaticon-right-arrow rit_arow"></span>
								<div class="hai">
									<div class="row">
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Personal Care Products</h5>
												<ul>
													<li><a href="/products/category?category=electricshaver">Electric Shaver</a></li>
													<li><a href="/products/category?category=trimmers">Trimmer</a></li>
													<li><a href="/products/category?category=hairdryers">Hair Dryers</a></li>
													<li><a href="/products/category?category=haircurlers">Hair Curlers</a></li>
													<li><a href="/products/category?category=hairsylers">Hair Stylers</a></li>
												</ul>
											</div>
											<div class="side_menu_sub_div1">
												<h5>Health Care Products</h5>
												<ul>
													<li><a href="/products/category?category=bpmonitors">BP Monitors</a></li>
													<li><a href="/products/category?category=thermometers">Digital Thermo Meters</a></li>
													<li><a href="/products/category?category=heattherapymachine">Heat Therapy</a></li>
													<li><a href="/products/category?category=hotbag">Hot Bag</a></li>
													<li><a href="/products/category?category=bodyfatmonitor">Boby Fat Monitor</a></li>
												</ul>
											</div>
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Fragrance</h5>
												<ul>
													<li><a href="/products/category?category=womendoes">Women Does</a></li>
													<li><a href="/products/category?category=perfurmes">Women Perfurmes</a></li>
													<li><a href="/products/category?category=mendoes">Men Does</a></li>
													<li><a href="/products/category?category=menperfurmes">Men Perfurmes</a></li>
													 <li><a href="/products/category?category=eyeliner">Eye Liner</a></li> 
												</ul>
											</div>
											<div class="side_menu_sub_div1">
												<h5>Nails</h5>
												<ul>
													<li><a href="/products/category?category=nailpolish">Nail Polish</a></li>
													<li><a href="/products/category?category=naileffects">Nail Effects</a></li>
													<li><a href="/products/category?category=nailpolishremover">Nail polish Remover</a></li>
													<li><a href="/products/category?category=nailpolishremover">Face Creams</a></li>
												 <li><a href="/products/category?category=eyeshadows">Eye Shadows</a></li> 
												</ul>
											</div>	
										</div>
										<div class="col-lg-4 col-md-4">
											<div class="side_menu_sub_div1">
												<h5>Lips</h5>
												<ul>
													<li><a href="/products/category?category=lipsticks">Lipsticks</a></li>
													<li><a href="/products/category?category=lipbalms">Lip Balms</a></li>
													<li><a href="/products/category?category=lipgloss">Lip Gloss</a></li>
													<li><a href="/products/category?category=lipliners">Lip Liners</a></li>
													<li><a href="/products/category?category=mascara">Mascara</a></li>
												</ul>
												
											</div>
											<div class="side_menu_sub_div1">
												<h5>Face</h5>
												<ul>
													<li><a href="/products/category?category=razors">Razors</a></li>
													<li><a href="/products/category?category=shavingbrushes">Shaving Brushes</a></li>
													<li><a href="/products/category?category=aftershaves">After Shaves</a></li>
													<li><a href="/products/category?category=creamgels">Cream gels</a></li>
													<li><a href="/products/category?category=cartridges">Cartridges And Blades</a></li>
												</ul>
											</div>	
										</div>
									</div>
								</div>
						</a></li>
						<li><a href="products?search=mobiles">Coupons &amp; Discounts</a></li>
					</ul>
				</div>
			</div>
		</div>