<div id="overview" class="tab-pane fade in active">
            <p class="dm_tab_para1">
                Hey 
                <a href="#" class="u_n" th:text="${users.userName}"></a>, 
                you can find below a list of your recent transactions including the current cashback status, as well the total confirmed cashback and the amount paid out to you so far.
            </p>
            <div class="row">
                <div class="col-sm-6">
                    <h3>CASHBACK SUMMARY</h3>
                    <p class="dm_tab_para2">Pending Cashback 
                        <span class="pull-right">
                            Rs.0.00
                        </span>
                    </p>
                   
                    <p class="dm_tab_para2">Availabel Cashback 
                        <span class="pull-right">
                            Rs.0.00
                        </span>
                    </p>
                  
                    <p class="dm_tab_para2">Lifetime Cashback 
                        <span class="pull-right">
                            Rs.0.00
                        </span>
                    </p>
                </div>
            </div>
  <!--           <div class="row">
                <div class="col-sm-8">
                    <h3>Recent Transactions</h3>
                    <div class="row rt">
                        <div class="col-sm-1">
                            <h4>Date</h4>
                        </div>
                        <div class="col-sm-2 text-center">
                            <h4>Merchant</h4>
                        </div>
                        <div class="col-sm-1">
                            <h4>Amount</h4>
                        </div>
                        <div class="col-sm-2 text-center">
                            <h4>Status</h4>
                        </div>
                        <div class="col-sm-3">
                            <h4>Expected Confirmation</h4>
                        </div>
                        <div class="col-sm-2">
                            <h4># Ref.ID</h4>
                        </div>
                    </div>
                    <div class="row rt1">
                        <div class="col-sm-1">
                            fsdasdf
                        </div>
                        <div class="col-sm-2 text-center">
                            fsdasdf
                        </div>
                        <div class="col-sm-1">
                            fsdasdf
                        </div>
                        <div class="col-sm-2 text-center">
                            fsdasdf
                        </div>
                        <div class="col-sm-3">
                            fsdasdf
                        </div>
                        <div class="col-sm-2">
                            fsdasdf
                        </div>
                    </div>
                    <h3>Clicks History</h3>
                    <div class="row ch">
                        <div class="col-sm-3">
                            <h4>Date</h4>
                        </div>
                        <div class="col-sm-4">
                            <h4>Merchant</h4>
                        </div>
                        <div class="col-sm-3">
                            <h4>Ref.ID</h4>
                        </div>
                    </div>
                    <div class="row ch1">
                        <div class="col-sm-3">
                            sdsaddd
                        </div>
                        <div class="col-sm-4">
                            sdsaddd
                        </div>
                        <div class="col-sm-3">
                            sdsaddd
                        </div>
                    </div>
                    <h3>Missing Transactions</h3>
                    <div class="row mt">
                        <div class="col-sm-1">
                            <h4>Date</h4>
                        </div>
                        <div class="col-sm-2 text-center">
                            <h4>Merchant</h4>
                        </div>
                        <div class="col-sm-1">
                            <h4>Amount</h4>
                        </div>
                        <div class="col-sm-2 text-center">
                            <h4>Status</h4>
                        </div>
                        <div class="col-sm-3">
                            <h4>Expected Confirmation</h4>
                        </div>
                        <div class="col-sm-2">
                            <h4># Ref.ID</h4>
                        </div>
                    </div>
                    <div class="row mt1">
                        <div class="col-sm-1">
                            fsdasdf
                        </div>
                        <div class="col-sm-2 text-center">
                            fsdasdf
                        </div>
                        <div class="col-sm-1">
                            fsdasdf
                        </div>
                        <div class="col-sm-2 text-center">
                            fsdasdf
                        </div>
                        <div class="col-sm-3">
                            fsdasdf
                        </div>
                        <div class="col-sm-2">
                            fsdasdf
                        </div>
                    </div>
                </div>
            </div> -->
        </div>