<div id="mywallet" class="tab-pane fade">
    <p class="dm_tab_para1">In My Wallet, you can check your balance or redeem your cashback by clicking on the "Redeem Now" button. It also shows the detailed summary of your transactions.</p>
    <div class="row">
        <div class="col-sm-6">
            <h3>CASHBACK SUMMARY</h3>
            <p class="dm_tab_para2">Pending Cashback <span class="pull-right">Rs.0.00</span></p>
            <p class="dm_tab_para3">Pending Rewards <span class="pull-right">Rs.0.00</span></p>
            <p class="dm_tab_para2">Availabel+Referral Cashback <span class="pull-right">Rs.0.00</span></p>
            <p class="dm_tab_para3">Availabel rewards <span class="pull-right">Rs.0.00</span></p>
            <p class="dm_tab_para2">Lifetime Cashback <span class="pull-right">Rs.0.00</span></p>
            <p class="dm_tab_para3">Cashout Requested <span class="pull-right">Rs.0.00</span></p>
            <p class="dm_tab_para2">Admin Fee <span class="pull-right">Rs.0.00</span></p>
            <p class="dm_tab_para3">Cashout Processed <span class="pull-right">Rs.0.00</span></p>
            <p class="dm_tab_para2">Lifetime Cashback <span class="pull-right">Rs.0.00</span></p>
        </div>
    </div>
</div>