<head>
	<title>DEAL MACHA</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/nav.css"/>

	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/common/jquery/jcarousel.css" />
	<link rel="stylesheet" type="text/css" href="../fonts/icons/font/flaticon.css"/>
<link rel="stylesheet" type="text/css" href="/common/toastr/toastr.css" />
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
<link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Ubuntu" rel="stylesheet" />

	<!-- <link rel="stylesheet" type="text/css" href="fonts/icons_1/font/flaticon.css"/> -->
</head>