<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 cat1">
    <div class="cat_div hidden-xs">
        <div class="cat_head">
            <h1>categories<small class="arow-after"></small></h1>
        </div>
        <div class="cat_list">
            <ul>
                <li><a href="#">Deals &amp;offers</a> <i class="fa fa-plus-square-o plus1" aria-hidden="true"></i>

                    <ul class="minus1">
                        <li><a href="">j</a></li>
                        <li><a href="">q</a></li>
                        <li><a href="">u</a></li>
                        <li><a href="">e</a></li>
                        <li><a href="">r</a></li>
                        <li><a href="">y</a></li>
                    </ul>
                </li>
                <li><a href="#">Mobile, Tablets &amp; Accessories </a><i class="fa fa-plus-square-o plus2" aria-hidden="true"></i>
                    <ul class="minus2">
                        <li><a href="">j</a></li>
                        <li><a href="">q</a></li>
                        <li><a href="">u</a></li>
                        <li><a href="">e</a></li>
                        <li><a href="">r</a></li>
                        <li><a href="">y</a></li>
                    </ul>
                </li>
                <li><a href="#">Laptops &amp; Peripherals  </a> <span class="flaticon-right-arrow rit_arow"></span></li>
                <li><a href="#">Men Fashion </a>    <span class="flaticon-right-arrow rit_arow"></span></li>
                <li><a href="#">Women Fashion </a><span class="flaticon-right-arrow rit_arow"></span></li>
                <li><a href="#">Home Decor &amp; Kitchen </a><span class="flaticon-right-arrow rit_arow"></span></li>
                <li><a href="#">Tv's,Cameras &amp; Accessories </a><span class="flaticon-right-arrow rit_arow"></span></li>
                <li><a href="#">baby &amp; Kids</a><span class="flaticon-right-arrow rit_arow"></span></li>
                <li><a href="#">Personal &amp; Health Devices </a><span class="flaticon-right-arrow rit_arow"></span></li>
                <li><a href="#">Coupons &amp; Discounts </a></li>
                <li><a href="#">Smart Phones </a></li>
                <li><a href="#">Smart Phones </a></li>
                <li><a href="#">Smart Phones </a></li>
                <li><a href="#">Smart Phones </a></li>
                <li><a href="#">Smart Phones </a></li>
                <li class="bbn"><a href="#">Smart Phones </a></li>
            </ul>
        </div>
    </div>
    <!-- <div class=" best_seller_div">  
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hot_heading">
            <h1>BEST SELLERS<small class="arow-after2"></small></h1>
        </div>
        <div class="wrapper">
            <div class="jcarousel-wrapper">
                <div data-jcarousel="true" class="jcarousel">
                    <ul>
                        <li>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 best_seller_list1 ptb">
                                <div class="best_seller_img">
                                    <img src="../home/imageindex/1-72x72.png" class="best_sell_img img-responsive"/>
                                </div>
                                <div  style="float: left;">
                                    <div class="star_rate">
                                        <span class="rating r12"></span>
                                        <i style="width:81%"></i>
                                    </div>
                                    <h4><a href="#">Dinning Table</a></h4>
                                    <p class="price">
                                        <span class="price_new">£20.70</span>
                                        <span class="price_old">£40.71</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 best_seller_list1 ptb">
                                <div class="best_seller_img">
                                    <img src="../home/imageindex/2-72x72.png" class="best_sell_img img-responsive"/>
                                </div>
                                <div  style="float: left;">
                                    <div class="star_rate">
                                        <span class="rating r12"></span>
                                        <i style="width:81%"></i>
                                    </div>
                                    <h4><a href="#">Sofa</a></h4>
                                    <p class="price">
                                        <span class="price_new">£20.70</span>
                                        <span class="price_old">£40.71</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 best_seller_list1 ptb">
                                <div class="best_seller_img">
                                    <img src="../home/imageindex/3-72x72.png" class="best_sell_img img-responsive"/>
                                </div>
                                <div  style="float: left;">
                                    <div class="star_rate">
                                        <span class="rating r12"></span>
                                        <i style="width:81%"></i>
                                    </div>
                                    <h4><a href="#"> TV Stand</a></h4>
                                    <p class="price">
                                        <span class="price_new">£20.70</span>
                                        <span class="price_old">£40.71</span>
                                    </p>
                                </div>
                            </div> 
                        </li>
                        <li>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 best_seller_list1 ptb">
                                <div class="best_seller_img">
                                    <img src="../home/imageindex/4-72x72.png" class="best_sell_img img-responsive"/>
                                </div>
                                <div  style="float: left;">
                                    <div class="star_rate">
                                        <span class="rating r12"></span>
                                        <i style="width:81%"></i>
                                    </div>
                                    <h4><a href="#">Table Lamp</a></h4>
                                    <p class="price">
                                        <span class="price_new">£20.70</span>
                                        <span class="price_old">£40.71</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 best_seller_list1 ptb">
                                <div class="best_seller_img">
                                    <img src="../home/imageindex/5-72x72.png" class="best_sell_img img-responsive"/>
                                </div>
                                <div  style="float: left;">
                                    <div class="star_rate">
                                        <span class="rating r12"></span>
                                        <i style="width:81%"></i>
                                    </div>
                                    <h4><a href="#">Camera</a></h4>
                                    <p class="price">
                                        <span class="price_new">£20.70</span>
                                        <span class="price_old">£40.71</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 best_seller_list1 ptb">
                                <div class="best_seller_img">
                                    <img src="../home/imageindex/6-72x72.png" class="best_sell_img img-responsive"/>
                                </div>
                                <div  style="float: left;">
                                    <div class="star_rate">
                                        <span class="rating r12"></span>
                                        <i style="width:81%"></i>
                                    </div>
                                    <h4><a href="#">Wall Shelf</a></h4>
                                    <p class="price">
                                        <span class="price_new">£20.70</span>
                                        <span class="price_old">£40.71</span>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li >
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 best_seller_list1 ptb">
                                <div class="best_seller_img">
                                    <img src="../home/imageindex/7-72x72.png" class="best_sell_img img-responsive"/>
                                </div>
                                <div  style="float: left;">
                                    <div class="star_rate">
                                        <span class="rating r12"></span>
                                        <i style="width:81%"></i>
                                    </div>
                                    <h4><a href="#">Wood Almirah</a></h4>
                                    <p class="price">
                                        <span class="price_new">£20.70</span>
                                        <span class="price_old">£40.71</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 best_seller_list1 ptb">
                                <div class="best_seller_img">
                                    <img src="../home/imageindex/8-72x72.png" class="best_sell_img img-responsive"/>
                                </div>
                                <div  style="float: left;">
                                    <div class="star_rate">
                                        <span class="rating r12"></span>
                                        <i style="width:81%"></i>
                                    </div>
                                    <h4><a href="#">Office Chair</a></h4>
                                    <p class="price">
                                        <span class="price_new">£20.70</span>
                                        <span class="price_old">£40.71</span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 best_seller_list1 ptb">
                                <div class="best_seller_img">
                                    <img src="../home/imageindex/9-72x72.png" class="best_sell_img img-responsive"/>
                                </div>
                                <div  style="float: left;">
                                    <div class="star_rate">
                                        <span class="rating r12"></span>
                                        <i style="width:81%"></i>
                                    </div>
                                    <h4><a href="#">Computer Table</a></h4>
                                    <p class="price">
                                        <span class="price_new">£20.70</span>
                                        <span class="price_old">£40.71</span>
                                    </p>
                                </div>
                            </div> 
                        </li>    
                    </ul>
                </div>
                <div class="best_seller_arrow">
                    <a data-jcarouselcontrol="true" href="#" class="jcarousel-control-prev jcarousel-control-prev1">‹</a>
                    <a data-jcarouselcontrol="true" href="#" class="jcarousel-control-next jcarousel-control-next1">›</a>
                </div>
            </div>
        </div>
    </div> -->
</div>