<div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 cat1">
	<div class="cat_div hidden-xs">
		<div class="cat_head">
			<h1>categories<small class="arow-after"></small></h1>
		</div>
		<div class="cat_list">
			<div class="panel-group" id="accordion">
				<!-- <div class="panel panel-default" style="margin-top: 0px;border-radius: 0px;">
		      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse0" style="background-color: #fff;border-radius: 0px;padding-left: 0px;">
		        <h4 class="panel-title">
		          <a>Deals &amp; Offers<i class="fa fa-plus-square-o plus" aria-hidden="true" style="float: right;"></i></a>
		        </h4>
		      </div>
		    </div> -->
		    <div class="panel panel-default" style="margin-top: 0px;border-radius: 0px;">
		      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse1" style="background-color: #fff;border-radius: 0px;padding-left: 0px;">
		        <h4 class="panel-title">
		          <a>Mobile &amp; Accessories<i class="fa fa-plus-square-o plus" aria-hidden="true" style="float: right;"></i></a>
		        </h4>
		      </div>
		      <div id="collapse1" class="panel-collapse collapse">
		        <div class="panel-body cat-list1">
		          <div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>MOBILES</b></h5>
								<ul>
									<li><a href="/products/category?category=mobiles">All Mobiles</a></li>
									<li><a href="/products/category?category=samsung">Samsung</a></li>
									<li><a href="/products/category?category=nokia">Nokia</a></li>
									<li><a href="/products/category?category=micromax">Micromax</a></li>
									<li><a href="/products/category?category=apple">Apple</a></li>
									<li><a href="/products/category?category=refurbished-mobile">Unboxed/Refurbished Phones</a></li>
								</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Mobile Accessories</b></h5>
								<ul>
									<li><a href="/products/category?category=smart-watches">Smart Watch</a></li>
									<li><a href="/products/category?category=sd-memory-cards">Micro SD Card</a></li>
									<li><a href="/products/category?category=power-banks">Power Banks</a></li>
								</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Tablets</b></h5>
								<ul >
									<li><a href="/products/category?category=tablet">All Tablets</a></li>
									<li><a href="/products/category?category=samsung">Samsung</a></li>
									<li><a href="/products/category?category=lenovo">Lenovo</a></li>
									<li><a href="/products/category?category=micromax">Micromax</a></li>
									<li><a href="/products/category?category=apple">Apple</a></li>
								</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Headphones And Headsets</b></h5>
								<ul>
									<li><a href="/products/category?category=headphones">Headphones</a></li>
									<li><a href="/products/category?category=bluetooth-headsets">Bluetooth Headsets</a></li>
									<li><a href="/products/category?category=headsets">Wired Headsets</a></li>
								</ul>
							</div>	
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Car Mobile And Accessories</b></h5>
								<ul>
									<li><a href="/products/category?category=car-chargers">Car Charger</a></li>
									<li><a href="/products/category?category=car-kits">Car Kits</a></li>
									<li><a href="/products/category?category=carcardlesandmounts">Car Cardles And Mounts</a></li>
									<li><a href="/products/category?category=gps-navigation-devices">GPS Navigation Devices</a></li>
								</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Landline Phones</b></h5>
								<ul>
									<li><a href="/products/category?category=landline-phones">All Landline Phones</a></li>
								</ul>
							</div>
		        </div>
		      </div>
		    </div>
		    <div class="panel panel-default" style="margin-top: 0px;border-radius: 0px;">
		      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse2" style="background-color: #fff;border-radius: 0px;padding-left: 0px;">
		        <h4 class="panel-title">
		          <a>Laptops &amp; Peripherals<i class="fa fa-plus-square-o plus" aria-hidden="true" style="float: right;"></i></a>
		        </h4>
		      </div>
		     <div id="collapse2" class="panel-collapse collapse">
		        <div class="panel-body cat-list1">
		          <div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Laptops</b></h5>
									<ul>
											<li><a href="/products/category?category=laptops">All Laptops</a></li>
											<li><a href="/products/category?category=hp">HP</a></li>
											<li><a href="/products/category?category=dell">Dell</a></li>
											<li><a href="/products/category?category=lenovo">Lenovo</a></li>
											<li><a href="/products/category?category=sony">Sony</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Accessories And Peripherals</b></h5>
								<ul>
									<li><a href="/products/category?category=computer-monitor">Monitor</a></li>
									<li><a href="/products/category?category=computer-mouse">Mouse</a></li>
									<li><a href="/products/category?category=computer-keyboard">Keyboards</a></li>
									<li><a href="/products/category?category=headphones">Headphones</a></li>
									<li><a href="/products/category?category=headsets">Computer Headsets</a></li> 
									<li><a href="/products/category?category=computer-speaker">Speakers</a></li> 
								</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Storage And Memory</b></h5>
								<ul >
									<li><a href="/products/category?category=computer-pendrive">Pen Drives</a></li>
									<li><a href="/products/category?category=computer-external-hard-disks">External Hard Disk</a></li>
									<li><a href="/products/category?category=external-ssd">SD Memory Cards</a></li>
									<li><a href="/products/category?category=sd-memory-cards">Micro SD Cards</a></li>
								</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Desktop And Components</b></h5>
								<ul>
									<li><a href="/products/category?category=desktop">Desktop</a></li>
									<li><a href="/products/category?category=internal-hard-disk">Internal Hard Drives</a></li>
								</ul>
							</div>	
		        </div>
		      </div>
		    </div>
        <div class="panel panel-default" style="margin-top: 0px;border-radius: 0px;">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse3" style="background-color: #fff;border-radius: 0px;padding-left: 0px;">
            <h4 class="panel-title" >
              <a>Men Fashion <i class="fa fa-plus-square-o plus" aria-hidden="true" style="float: right;"></i></a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body cat-list1">
              <div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Footwear</b></h5>
									<ul>
										<li><a href="/products/category?category=sports-shoes-men">Sports Shoes</a></li>
											<li><a href="/products/category?category=casual-shoes-men">Casual Shoes</a></li>
											<li><a href="/products/category?category=formal-shoes-men">Formal Shoes</a></li>
											<li><a href="/products/category?category=sandals-shoes-men">Sandals And Floaters</a></li>
											<li><a href="/products/category?category=slippers-shoes-men">Slippers And Flipflops</a></li>
											<li><a href="/products/category?category=socks-men">socks</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Innerwear And Sleepwear</b></h5>
									<ul>
										<li><a href="/products/category?category=briefs-men">Briefs</a></li>
										<li><a href="/products/category?category=trunks-men">Trunks</a></li>
										<li><a href="/products/category?category=boxers-men">Boxers</a></li>
										<li><a href="/products/category?category=nightsuits-men">Night Suits</a></li>
										<li><a href="/products/category?category=pyjamas-men">Pyjamas And Loungepants</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Clothing</b></h5>
									<ul>
										<li><a href="/products/category?category=tshirts-clothing-men">T-Shirts</a></li>
										<li><a href="/products/category?category=formal-shirts-clothing-men">Formal Shirts</a></li>
										<li><a href="/products/category?category=casual-shirts-clothing-men">Casual Shirts</a></li>
										<li><a href="/products/category?category=trousers-bottoms-clothing-men">Pants And Trousers</a></li>
										<li><a href="/products/category?category=jeans-bottoms-clothing-men">Jeans</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Accessories</b></h5>
									<ul>
										<li><a href="/products/category?category=watches-men">Watches</a></li>
										<li><a href="/products/category?category=wallets">Wallets</a></li>
										<li><a href="/products/category?category=belts-accessories-men">Belts</a></li>
										<li><a href="/products/category?category=Sunglasses">Sunglasses</a></li>
										<li><a href="/products/category?category=rainwear-men">Rainwear</a></li>
										<li><a href="/products/category?category=caps-hats-men">Caps And Hats</a></li>
									</ul>
							</div>
            </div>
          </div>
        </div>
        <div class="panel panel-default" style="margin-top: 0px;border-radius: 0px;">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse4" style="background-color: #fff;border-radius: 0px;padding-left: 0px;">
            <h4 class="panel-title" >
              <a>Women Fashion <i class="fa fa-plus-square-o plus" aria-hidden="true" style="float: right;"></i></a>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body cat-list1">
              <div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Clothing</b></h5>
									<ul>
										<li><a href="/products/category?category=tops-clothing-women">Shirts,Tops And Tees</a></li>
										<li><a href="/products/category?category=dress-clothing-women">Dresses</a></li>
										<li><a href="/products/category?category=jeans-bottoms-clothing-women">Jeans</a></li>
										<li><a href="/products/category?category=trousers-bottoms-clothing-women">Trousers</a></li>
										<li><a href="/products/category?category=leggings-women">Leggins</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Shoes</b></h5>
									<ul>
										<li><a href="/products/category?category=sandals-casual-shoes-women">Sandals</a></li>
										<li><a href="/products/category?category=heels-shoes-women">Heels</a></li>
										<li><a href="/products/category?category=sneakers-women">Sneakers</a></li>
										<li><a href="/products/category?category=flats-shoes-women">Flats</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Ethnic Clothing</b></h5>
									<ul>
										<li><a href="/products/category?category=sarees-ethnic-women">Sarees</a></li>
										<li><a href="/products/category?category=suits-ethnic-women">Suit Sets</a></li>
										<li><a href="/products/category?category=kurta-ethnic-women">Kurtas And Kurtis</a></li>
										<li><a href="/products/category?category=salwars-churidars-women">Salwars And Churidars</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Linger And Sleepwear</b></h5>
									<ul>
										<li><a href="/products/category?category=bras-lingerie-clothing-women">Bras</a></li>
										<li><a href="/products/category?category=panties-lingerie-clothing-women">Panties</a></li>
										<li><a href="/products/category?category=night-dresses-women">Night Dresses</a></li>
										<li><a href="/products/category?category=nightwear-lingerie-clothing-women">Night Suits</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Bags</b></h5>
									<ul>
										<li><a href="/products/category?category=handbag-bags-women">Handbags</a></li>
										<li><a href="/products/category?category=wallets-women">Wallets</a></li>
										<li><a href="/products/category?category=clutches-women">Clutches</a></li>
										<li><a href="/products/category?category=slingbags-bags-women">Sling And CrossBodybags</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Accessories</b></h5>
									<ul>
										<li><a href="/products/category?category=watches-women">Watches</a></li>
										<li><a href="/products/category?category=sunglasses-accessories-women">Sunglasses</a></li>
										<li><a href="/products/category?category=belts-accessories-women">Belts</a></li>
										<li><a href="/products/category?category=stoles-scarves-women">Stoles And Scarves</a></li>
										<li><a href="/products/category?category=hair-accessories-women">Hair Accessories</a></li>
									</ul>
							</div>
            </div>
          </div>
        </div>
         <div class="panel panel-default" style="margin-top: 0px;border-radius: 0px;">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse5" style="background-color: #fff;border-radius: 0px;padding-left: 0px;">
            <h4 class="panel-title" >
              <a>Home Decor &amp; Kitchen <i class="fa fa-plus-square-o plus" aria-hidden="true" style="float: right;"></i></a>
            </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body cat-list1">
              <div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Decor</b></h5>
									<ul>
										<li><a href="/products/category?category=clocks-decor">Clocks</a></li>
										<li><a href="/products/category?category=paintings-and-wall-art-decor">Paintings And Wall Art</a></li>
										<li><a href="/products/category?category=candle-fragrance-decor">Candles And Fragrances</a></li>
										<li><a href="/products/category?category=garden-and-outdoor-decor-home-decor">Outdoor Decor</a></li>
										<li><a href="/products/category?category=decoratives-decor">Showpieces And Decoratives</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Kitchen Appliances</b></h5>
									<ul>
										<li><a href="/products/category?category=coffee-makers">Coffee Makers</a></li>
										<li><a href="/products/category?category=electric-cookers">Electric Cookers</a></li>
									 <li><a href="/products/category?category=mixers">Mixers</a></li>
										<li><a href="/products/category?category=electric-kettles">Electric Kettles</a></li> 
										<li><a href="/products/category?category=microwave-oven">Microwave Ovens</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Furnitures</b></h5>
									<ul>
										<li><a href="/products/category?category=dining-furniture">Dining Table</a></li>
										<li><a href="/products/category?category=sofa-living-room-furniture-home-decor">Sofa And Sets</a></li>
										<li><a href="/products/category?category=bedroom-furniture">Bed And Bedsides</a></li>
										<li><a href="/products/category?category=seatings-living-room-furniture-home-decor">Seating And Chairs</a></li>
										<li><a href="/products/category?category=shoe-racks-cabinets-wardrobes-furniture-home-decor">Shoe Racks</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Heaters,Fans And Coolers</b></h5>
									<ul>
										<li><a href="/products/category?category=fans">Fans</a></li>
										<li><a href="/products/category?category=room-heaters">Room Heaters</a></li>
										<li><a href="/products/category?category=air-coolers">Air Coolers</a></li>
										<li><a href="/products/category?category=immersion-rods">Immersion Rods</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Home Linen</b></h5>
									<ul>
										<li><a href="/products/category?category=bedsheets-bed-linen-bed-bath-home-decor">Bedsheets And Sets</a></li>
										<li><a href="/products/category?category=towels-bath-essentials-bed-bath-home-decor">Towels</a></li>
										<li><a href="/products/category?category=curtains-cushions-decor">Curtains And Cushions</a></li>
										<li><a href="/products/category?category=carpets-rugs-decor">Carpets</a></li>
										<li><a href="/products/category?category=pillows-mattresses">pillows</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Home Appliances</b></h5>
									<ul>
										<li><a href="/products/category?category=irons">Irons</a></li>
										<li><a href="/products/category?category=vacuum-cleaners">Vaccum Cleaners</a></li>
										<li><a href="/products/category?category=washing-machines">Washing Machines</a></li>
										<li><a href="/products/category?category=refrigerators">Refrigerators</a></li>
										<li><a href="/products/category?category=power-supplies">Ups</a></li>
									</ul>
							</div>
            </div>
          </div>
        </div>
        <div class="panel panel-default" style="margin-top: 0px;border-radius: 0px;">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse6" style="background-color: #fff;border-radius: 0px;padding-left: 0px;">
            <h4 class="panel-title" >
              <a>Tv's &amp; Accessories <i class="fa fa-plus-square-o plus" aria-hidden="true" style="float: right;"></i></a>
            </h4>
          </div>
          <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body cat-list1">
              <div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>LED AND LCD TV</b></h5>
									<ul>
										<li><a href="/products/category?category=tv">All LED And LCD Tvs</a></li>
										<li><a href="/products/category?category=samsungtv">Samsung</a></li>
										<li><a href="/products/category?category=sonyledtv">Sony</a></li>
										<li><a href="/products/category?category=lglcdtv">LG</a></li>
										<li><a href="/products/category?category=toshibatv">Toshiba</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Headphone And Memory</b></h5>
									<ul>
										<li><a href="/products/category?category=headphones">Headphones</a></li>
										<li><a href="/products/category?category=headsets">Headsets</a></li>
										<li><a href="/products/category?category=bluetooth-headsets">Bluetooth Headsets</a></li>
										<li><a href="/products/category?category=sd-memory-cards">SD Memory Cards</a></li>
										<li><a href="/products/category?category=memory-cards">Micro SD Memory Cards</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Music And Home Theater</b></h5>
									<ul>
										<li><a href="/products/category?category=appleipods">Apple Ipods</a></li>
										<li><a href="/products/category?category=mp3players">MP3 Players</a></li>
										<li><a href="/products/category?category=hometheaters">Home Theaters</a></li>
										<li><a href="/products/category?category=dvdplayers">Video And DVD Players</a></li>
										<li><a href="/products/category?category=gamingconsole">Gaming Console</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Cameras,DSLRS And More</b></h5>
									<ul>
										<li><a href="/products/category?category=digital-camera">Digital Cameras</a></li>
										<li><a href="/products/category?category=digital-slr-camera">Digital SLR Cameras</a></li>
										<li><a href="/products/category?category=camcorder">Camecorders</a></li>
										<li><a href="/products/category?category=digital-photo-frames">Digital Photo Frames</a></li>
										<li><a href="/products/category?category=binoculars">Binoculars</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Cameras Accessories</b></h5>
									<ul>
										<li><a href="/products/category?category=sd-memory-cards">SD Memory Cards</a></li>
										<li><a href="/products/category?category=flashes">Camera Flashes</a></li>
										<li><a href="/products/category?category=battery-chargers">Battery Chargers</a></li>
										<li><a href="/products/category?category=camera-screen-protectors">Camera Screen Protectors</a></li>
										<li><a href="/products/category?category=camera-remote-controls">Camera Remote Controls</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Lenses And Lens Accessories</b></h5>
									<ul>
										<li><a href="/products/category?category=lenses">Camera Lenses</a></li>
										<li><a href="/products/category?category=filters">Lens Filters</a></li>
										<li><a href="/products/category?category=lens-hoods">Lens Hoods</a></li>
										<li><a href="/products/category?category=lens-cleaner">lens Cleaner And kit</a></li>
										<li><a href="/products/category?category=lens-cap">Lens Caps</a></li>
									</ul>
							</div>
            </div>
          </div>
        </div>
        <div class="panel panel-default" style="margin-top: 0px;border-radius: 0px;">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse7" style="background-color: #fff;border-radius: 0px;padding-left: 0px;">
            <h4 class="panel-title" >
              <a>baby &amp; Kids<i class="fa fa-plus-square-o plus" aria-hidden="true" style="float: right;"></i></a>
            </h4>
          </div>
          <div id="collapse7" class="panel-collapse collapse">
            <div class="panel-body cat-list1">
              <div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Clothing</b></h5>
									<ul>
										<li><a href="/products/category?category=tshirts-boys-clothing-kids">Boys Tshirts</a></li>
										<li><a href="/products/category?category=tops-kids">Girls Tops And Tshirts</a></li>
										<li><a href="/products/category?category=jeans-trousers-boys-clothing-kids">Boys Jeans</a></li>
										<li><a href="/products/category?category=shorts-kids">Girls Jeans</a></li>
										<li><a href="/products/category?category=frocks-kids">Girls Frocks</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Footwear</b></h5>
									<ul>
											<li><a href="/products/category?category=casual-shoes-boys-kids">Boys Casual Shoes</a></li>
											<li><a href="/products/category?category=casual-shoes-girls-kids">Girls Casual Shoes</a></li>
											<li><a href="/products/category?category=sandals-boys-kids">Boys Sandals</a></li>
											<li><a href="/products/category?category=school-shoes-boys-kids">Boys School Shoes</a></li>
											<li><a href="/products/category?category=school-shoes-girls-kids">Girls School Shoes</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Stationary</b></h5>
									<ul>
										<li><a href="/products/category?category=school-bags-kids">School Bags</a></li>
										<li><a href="/products/category?category=lunchbox-water-bottles-kids">Lunch Box</a></li>
										<li><a href="/products/category?category=lunchbox-water-bottles-kids">Water Bottels</a></li>
										<li><a href="/products/category?category=art-craft-kids">Air Craft</a></li>
										<li><a href="/products/category?category=books-cds-kids">Books</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Toys</b></h5>
									<ul>
									<li><a href="/products/category?category=remote-control-toys-kids">Remote Controlled Toys</a></li>
										<li><a href="/products/category?category=soft-toys-kids">soft Toys</a></li>
										<li><a href="/products/category?category=action-games-kids">Action Games</a></li>
										<li><a href="/products/category?category=board-games-kids">Board Games</a></li>
										<li><a href="/products/category?category=guns-kids">Guns</a></li>
									</ul>
							</div>
          	</div>
        	</div>
      	</div>
      	   <div class="panel panel-default" style="margin-top: 0px;border-radius: 0px;">
          <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse8" style="background-color: #fff;border-radius: 0px;padding-left: 0px;">
            <h4 class="panel-title" >
              <a>Personal &amp; Health Devices <i class="fa fa-plus-square-o plus" aria-hidden="true" style="float: right;"></i></a>
            </h4>
          </div>
          <div id="collapse8" class="panel-collapse collapse">
            <div class="panel-body cat-list1">
              <div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Personal Care Products</b></h5>
									<ul>
										<li><a href="/products/category?category=shavers">Electric Shaver</a></li>
										<li><a href="/products/category?category=trimmers">Trimmer</a></li>
										<li><a href="/products/category?category=hair-dryers">Hair Dryers</a></li>
										<li><a href="/products/category?category=hair-curlers">Hair Curlers</a></li>
										<li><a href="/products/category?category=hair-stylers">Hair Styler</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Health Care Products</b></h5>
									<ul>
											<li><a href="/products/category?category=bp-monitors">BP Monitors</a></li>
											<li><a href="/products/category?category=digital-thermometers">Digital Thermo Meters</a></li>
											<li><a href="/products/category?category=heat-therapy">Heat Therapy</a></li>
											<li><a href="/products/category?category=pedometer-step-counters">pedometer</a></li>
											<li><a href="/products/category?category=body-fat-monitors">Boby Fat Monitor</a></li>
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Fragrance</b></h5>
									<ul>
										<li><a href="/products/category?category=women-deos">Women Does</a></li>
										<li><a href="/products/category?category=women-perfumes">Women Perfurmes</a></li>
										<li><a href="/products/category?category=men-deos">Men Does</a></li>
										<li><a href="/products/category?category=men-perfumes">Men Perfurmes</a></li>
										 <li><a href="/products/category?category=eye-liner">Eye Liner</a></li> 
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Nails</b></h5>
									<ul>
									<li><a href="/products/category?category=nail-polish">Nail Polish</a></li>
									<li><a href="/products/category?category=nail-effects">Nail Effects</a></li>
									<li><a href="/products/category?category=nail-polish-remover">Nail polish Remover</a></li>
									<li><a href="/products/category?category=face-concealer">Face concealer</a></li>
								 <li><a href="/products/category?category=eye-shadows">Eye Shadows</a></li> 
									</ul>
							</div>
							<div style="margin-left: -15px;margin-right: -15px;">
								<h5 style="margin-left: 15px;"><b>Face</b></h5>
									<ul>
									<li><a href="/products/category?category=razors">Razors</a></li>
									<li><a href="/products/category?category=shaving-brushes">Shaving Brushes</a></li>
									<li><a href="/products/category?category=after-shaves">After Shaves</a></li>
									<li><a href="/products/category?category=shaving-foam-cream-and-gel">Cream gels</a></li>
									<li><a href="/products/category?category=cartridges-and-blades">Cartridges And Blades</a></li>
									</ul>
							</div>
          	</div>
        	</div>
      	</div>
      <!-- 	<div class="panel panel-default" style="margin-top: 0px;border-radius: 0px;">
		      <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapse9" style="background-color: #fff;border-radius: 0px;padding-left: 0px;">
		        <h4 class="panel-title">
		          <a>Coupons &amp; Discounts<i class="fa fa-plus-square-o plus" aria-hidden="true" style="float: right;"></i></a>
		        </h4>
		      </div>
		    </div> -->
			</div>
		</div>
	</div>
</div>