<div class="page_section7">
            <div class="container">
                <div class="">
                    <div class="col-lg-4 col-sm-6 news_update">
                        <h1>NEWS UPDATES</h1>
                        <div class="col-lg-12 col-sm-12 news_up_div">
                            <div class="news_date_mnth">
                                28<br/><span>MAR</span>
                            </div>
                            <div class="news_info">
                                <h5>Lorem ipsum dolor sit amet</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12 news_up_div">
                            <div class="news_date_mnth">
                                28<br/><span>MAR</span>
                            </div>
                            <div class="news_info">
                                <h5>Lorem ipsum dolor sit amet</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 news_update">
                        <h1>BEST SELLERS</h1>
                        <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="best_seller_img">
                                <img src="/home/images/7-72x72.png" class="best_sell_img"/>
                            </div>
                            <div  style="float: left;">
                                <div class="star_rate">
                                    <span class="rating r12"></span>
                                    <i style="width:81%"></i>
                                </div>
                                <h4><a href="#">refrigerator</a></h4>
                                <p class="price">
                                    <span class="price_new">£20.70</span>
                                    <span class="price_old">£40.71</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="best_seller_img">
                                <img src="/home/images/7-72x72.png" class="best_sell_img"/>
                            </div>
                            <div  style="float: left;">
                                <div class="star_rate">
                                    <span class="rating r12"></span>
                                    <i style="width:81%"></i>
                                </div>
                                <h4><a href="#">refrigerator</a></h4>
                                <p class="price">
                                    <span class="price_new">£20.70</span>
                                    <span class="price_old">£40.71</span>
                                </p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 testimoni" style="background-color:#eee;" >
                        <h1>TESTIMONIAL</h1>
                        <div>
                            <div class="testi_img">
                                <img src="/home/images/clients_say.png"/>
                            </div>
                            <div class="testi_info">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque aliquet porta tincidunt. Integer sed varius arcu. Etiam tempus, mauris in aliquam commodo.<br/><br/>
                                <a href="#">Ramakrishna</a>
                                </p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>