<div class="page_section7">
    <div class="container">
        <div class="">
            <div class="col-lg-4 col-sm-6 news_update" th:with="posts=${newsUpdateTestimonialsSection.cmsBlocks[0].cmsPostses}">
                <h1>NEWS UPDATES</h1>
                <div class="col-lg-12 col-sm-12 news_up_div" th:each="post,postIndex:${posts}">
                    <div class="news_date_mnth" th:inline="text">
                        [[${#dates.format(post.postsExpiryTime,'dd')}]]<br/><span>[[${#dates.format(post.postsExpiryTime,'MMM')}]]</span>
                    </div>
                    <div class="news_info">
                        <h5 th:text="${post.postTitle}"></h5>
                        <p th:text="${post.description}"></p>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4 col-sm-6 news_update">
                <h1>BEST SELLERS</h1>
                <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="best_seller_img">
                        <img src="/home/images/7-72x72.png" class="best_sell_img"/>
                    </div>
                    <div  style="float: left;">
                        <div class="star_rate">
                            <span class="rating r12"></span>
                            <i style="width:81%"></i>
                        </div>
                        <h4><a href="#">refrigerator</a></h4>
                        <p class="price">
                            <span class="price_new">£20.70</span>
                            <span class="price_old">£40.71</span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12">
                    <div class="best_seller_img">
                        <img src="/home/images/7-72x72.png" class="best_sell_img"/>
                    </div>
                    <div  style="float: left;">
                        <div class="star_rate">
                            <span class="rating r12"></span>
                            <i style="width:81%"></i>
                        </div>
                        <h4><a href="#">refrigerator</a></h4>
                        <p class="price">
                            <span class="price_new">£20.70</span>
                            <span class="price_old">£40.71</span>
                        </p>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 testimoni" style="background-color:#eee;" th:with="posts=${newsUpdateTestimonialsSection.cmsBlocks[1].cmsPostses}">
                <h1>TESTIMONIAL</h1>
                <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators testi_carso" style="bottom: -70px;">
                        <li th:each="li,liIndex:${posts}" data-target="#myCarousel1" th:attr="data-slide-to=${liIndex.index}" th:classappend = "${liIndex.index==0}?'active':''"></li>
                       
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item" th:each="post,postIndex:${posts}"  th:classappend = "${postIndex.index==0}?'active':''" style="padding-left: 15px;">
                            
                            <div class="row">
                                <div class="col sm-2 testi_img">
                                       <img th:src = "${post.cmsPostsImageses[0].imageLocation}" />
                                </div>
                                <div class="col-sm-9 testi_info">
                                    <p th:inline="text"> [[${post.description}]]<br/><br/>
                                    <a href="#" th:text="${post.postTitle}"></a>
                                    </p> 
                                </div>
                            </div>
                        </div>
                       
                    
                    </div>
                    <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</div>